<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
         
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>策略</title>
        <link href="/public/static/img/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="/public/static/css/reset.css">
        <link rel="stylesheet" href="/public/static/css/style.css">
        <link rel="stylesheet" href="/public/static/css/price.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/public/static/js/vue.js"></script>
        <script src="/public/static/js/jquery-1.11.3.js"></script>
        <script src="/public/static/js/html5.js"></script>
        <script src="/public/static/js/adaptive-version2.js"></script>
        <script src="/public/static/js/jquery.easing.1.3.js"></script>
        <script src="/public/static/js/jquery.transit.js"></script>
        <script src="/public/static/js/jquery.lazyload.js"></script>
    </head>
    <body>
        <div class="includeDom"  data-id="0">
            {include file="price/inc/header" /}
        </div>
        <div class="welcome-list">
            <ul class="f-cb">
                <li>
                    <h2>上证指数</h2>
                    <h3><span class="ico red" id="shang_nowPoint">--</span></h3>
                    <div class="f-cb">
                        <span class="fl num red" id="shang_nowPrice">--</span>
                        <span class="fr num red" id="shang_diff_rate">--</span>
                    </div>
                </li>
                <li>
                    <h2>深证指数</h2>
                    <h3><span class="ico red" id="shen_nowPoint">--</span></h3>
                    <div class="f-cb">
                        <span class="fl num red" id="shen_nowPrice">--</span>
                        <span class="fr num red" id="shen_diff_rate">--</span>
                    </div>
                </li>
                <li>
                    <h2>创业板指</h2>
                    <h3><span class="ico red" id="chuang_nowPoint">--</span></h3>
                    <div class="f-cb">
                        <span class="fl num red" id="chuang_nowPrice">--</span>
                        <span class="fr num red" id="chuang_diff_rate">--</span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="app">
            <div class="quotes-swiper">
                <h2 class="title">热门股票</h2>
                <!-- Swiper -->
                <div class="swiper-container w94">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(item,index) in list" :key="index" v-cloak>
                            <a :href="'/index/price/info.html?stock_code='+item.stock_code+'&stock_name='+item.stock_name" v-cloak>
                                <h2 v-cloak>{{item.stock_name}}</h2>
                                <span v-cloak>{{item.nowprice}}</span>
                                <p v-cloak> <i :class="item.rate_price<0?'green':'red'">{{item.rate_price}}</i><i :class="item.rate.substr(0,item.rate.length-1)<'0'?'green':''">{{item.rate}}</i></p>
                            </a>
                        </div>
                        
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <ul class="quotes-list">
                <li>
                    <h2 class="title">涨幅榜</h2>
                    <dl>
                        <dd v-for="(item,index) in up_stocks" v-cloak>
                            <a :href="'/index/price/info.html?stock_code='+item.code+'&stock_name='+item.name" class="f-cb" v-cloak>
                                <div class="qulist-left">
                                    <h2 v-cloak>{{item.name}}</h2>
                                    <p v-cloak>{{item.code}}</p>
                                </div>
                                <p :class="item.changepercent<0?'green':''" v-cloak>{{item.changepercent}}%</p>
                                <p class="hidd" v-cloak>{{item.trade}}</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <h2 class="title">跌幅榜</h2>
                    <dl>
                        <dd v-for="(item,index) in down_stocks" v-cloak>
                            <a :href="'/index/price/info.html?stock_code='+item.code+'&stock_name='+item.name" class="f-cb">
                                <div class="qulist-left">
                                    <h2 v-cloak>{{item.name}}</h2>
                                    <p v-cloak>{{item.code}}</p>
                                </div>
                                <p :class="item.changepercent<0?'green':''" v-cloak>{{item.changepercent}}%</p>
                                <p class="hidd green" v-cloak>{{item.trade}}</p>
                            </a>
                        </dd>
                    </dl>
                </li>
                <!-- <li>
                    <h2 class="title">快速涨幅</h2>
                    <dl>
                        <dd>
                            <a href="/index/price/info.html?stock_code=sz000633&stock_name=中科新材" class="f-cb">
                                <div class="qulist-left">
                                    <h2>美的集团</h2>
                                    <p>SZ000333</p>
                                </div>
                                <p>0.5%</p>
                                <p>5.51</p>
                            </a>
                        </dd>
                        <dd>
                            <a href="/index/price/info.html?stock_code=sz000633&stock_name=中科新材" class="f-cb">
                                <div class="qulist-left">
                                    <h2>美的集团</h2>
                                    <p>SZ000333</p>
                                </div>
                                <p>0.5%</p>
                                <p>5.51</p>
                            </a>
                        </dd>
                    </dl>
                </li> -->
            </ul>
        </div>
        <div style="height:1.2rem"></div> 
        <div class="includeDom"  data-id="1">
            {include file="index/inc/footer" /}
        </div>
        <script src="/public/static/js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="/public/static/swiper/swiper.css">
        <script src="/public/static/swiper/swiper.js"></script>
        <script type="text/javascript">
            reflash();
            //首页大盘股指实时行情_批量  5秒刷新一次
            //执行ajax
            function reflash(){                
                $.ajax({
                    url: "/api/index/grailindex",
                    dataType: "json",
                    async:true,
                    success: function relash(data) {
                        // alert('ajax调用成功');
                        var dataObj = JSON.parse(data);
                        if(dataObj.status==1){
                            var res = dataObj.list.showapi_res_body;
                            //上证指数
                            var shang_nowPoint = (parseFloat(res.indexList[0].nowPoint)).toFixed(2);
                            var shang_nowPrice = (parseFloat(res.indexList[0].nowPrice)).toFixed(2);
                            var shang_diff_rate = (parseFloat(res.indexList[0].diff_rate)).toFixed(2);
                            if(shang_diff_rate<0){
                                $("#shang_nowPoint").html(shang_nowPoint);
                                $("#shang_nowPoint").removeClass("red");
                                $("#shang_nowPoint").addClass("green");

                                $("#shang_nowPrice").html(shang_nowPrice);
                                $("#shang_nowPrice").removeClass("red");
                                $("#shang_nowPrice").addClass("green");

                                $("#shang_diff_rate").html(shang_diff_rate+"%");
                                $("#shang_diff_rate").removeClass("red");
                                $("#shang_diff_rate").addClass("green");

                            }else{
                                $("#shang_nowPoint").html(shang_nowPoint);
                                $("#shang_nowPrice").html(shang_nowPrice);
                                $("#shang_diff_rate").html(shang_diff_rate+"%");
                            }
                            

                            //深圳指数
                            var shen_nowPoint = (parseFloat(res.indexList[1].nowPoint)).toFixed(2);
                            var shen_nowPrice =(parseFloat(res.indexList[1].nowPrice)).toFixed(2);
                            var shen_diff_rate = (parseFloat(res.indexList[1].diff_rate)).toFixed(2);

                            if(shen_diff_rate<0){
                                $("#shen_nowPoint").html(shen_nowPoint);
                                $("#shen_nowPoint").removeClass("red");
                                $("#shen_nowPoint").addClass("green");

                                $("#shen_nowPrice").html(shen_nowPrice);
                                $("#shen_nowPrice").removeClass("red");
                                $("#shen_nowPrice").addClass("green");
                                
                                $("#shen_diff_rate").html(shang_diff_rate+"%");
                                $("#shen_diff_rate").removeClass("red");
                                $("#shen_diff_rate").addClass("green");

                            }else{
                                $("#shen_nowPoint").html(shen_nowPoint);
                                $("#shen_nowPrice").html(shen_nowPrice);
                                $("#shen_diff_rate").html(shen_diff_rate+"%");
                            }

                            //创业板
                            var chuang_nowPoint = (parseFloat(res.indexList[2].nowPoint)).toFixed(2);
                            var chuang_nowPrice = (parseFloat(res.indexList[2].nowPrice)).toFixed(2);
                            var chuang_diff_rate = (parseFloat(res.indexList[2].diff_rate)).toFixed(2);
                            if(chuang_diff_rate<0){
                                $("#chuang_nowPoint").html(chuang_nowPoint);
                                $("#chuang_nowPoint").removeClass("red");
                                $("#chuang_nowPoint").addClass("green");

                                $("#chuang_nowPrice").html(chuang_nowPrice);
                                $("#chuang_nowPrice").removeClass("red");
                                $("#chuang_nowPrice").addClass("green");
                                
                                $("#chuang_diff_rate").html(chuang_diff_rate+"%");
                                $("#chuang_diff_rate").removeClass("red");
                                $("#chuang_diff_rate").addClass("green");

                            }else{
                                $("#chuang_nowPoint").html(chuang_nowPoint);
                                $("#chuang_nowPrice").html(chuang_nowPrice);
                                $("#chuang_diff_rate").html(chuang_diff_rate+"%");
                            }
                        }else{
                            alert("获取数据失败");
                        }
                    }
                })
                    
                /* 等待五秒后再次请求数据 */
                window.setTimeout("reflash()", 5000);
            }

        </script>
        <script>
        new Vue({
        el:'#app',
            props: {
            },
            data() {
                return {
                    list:[],
                    up_stocks:[],
                    down_stocks:[]
                };
            },
            mounted() {
                this.up_stock()
                this.down_stock()
                this.search_stock_list()
            },
            methods: {
                // up_stock
                up_stock(){
                    let _this = this;
                    axios.post('/api/mobile/up_stock')
                    .then(function (res) {
                       if(res.data.status =='1'){
                            _this.up_stocks = res.data.list;
                       }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                down_stock(){
                    let _this = this;
                    axios.post('/api/mobile/down_stock')
                    .then(function (res) {
                       if(res.data.status =='1'){
                            _this.down_stocks = res.data.list;
                       }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                search_stock_list(){
                    let _this = this;
                    axios.post('/api/mobile/search_stock_list',account)
                    .then(function (res) {
                       if(res.data.status =='1'){
                            _this.list = res.data.list;
                            console.log(_this.list)
                            setTimeout(() => {
                                var swiper = new Swiper('.swiper-container', {
                                    slidesPerView: 3,
                                    navigation: {
                                    nextEl: '.swiper-button-next',
                                    prevEl: '.swiper-button-prev',
                                    },
                                });
                            }, 20);
                       }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
        })
        </script>
        <script>
            
            $(function(){
                $(".quotes-list li").eq(0).addClass("on").find("dl").slideDown(200)
                $(".quotes-list li").click(function(){
                    if (!$(this).hasClass("on")) {
                        $(this).addClass("on").siblings("li").removeClass("on")
                        $(this).find("dl").slideDown(200).parents("li").siblings("li").find("dl").slideUp(200)
                    }else{
                        $(this).removeClass("on").find("dl").slideUp(200)

                    }
                })
            })
        </script>
    </body>
</html>
