body{
    background: #f3f3f3;
}
.guide-top a{
    float: left;
    background: url('../img/img_18.png') no-repeat center;
    background-size: contain;
    width: 0.2rem;
    height: 0.88rem;
}


.guide-top{
    background: #fff;
    text-align: center;
    font-size: 0.36rem;
    color: #333333;
    line-height: 0.88rem;
    height: 0.88rem;
    padding: 0 3%;
    margin-bottom: 0.2rem;
}
.guide-list{
    background:#fff;
    padding: 0 3%;
  	margin-bottom:1.2rem;
}
.guide-list  a{
    display: block;
    border-bottom: 1px solid #eeeeee;
    line-height: 0.88rem;
    font-size: 0.28rem;
    color: #222222;
    background: url('../img/img_17.png') no-repeat center right;
    background-size: 0.11rem;
}
.guide-list li:last-child a{
    border-bottom: none;
}
.guide-info{
    padding: 0.3rem 0;
}
.guide-info img{
  max-width:100%;
  height:auto !important;
}
.guide-info h2{
    font-size: 0.35rem;
    color: #333333;
    line-height: 0.3rem;
    text-align: center;
    padding: 0.15rem 0
}
.guide-info-work p{
    font-size: 0.16rem;
    line-height: 0.4rem;
}
.guide-info-work img{
    max-width: 100%;
}