.guide-top{
    background: #fff;
    text-align: center;
    font-size: 0.36rem;
    color: #333333;
    line-height: 0.88rem;
    height: 0.88rem;
    padding: 0 3%;
    margin-bottom: 0.2rem;
}
.m0{
    margin-bottom: 0
}
.rank-top{
    display: flex;
    background: #fff;
    padding: 0 3%;
    box-shadow: 0  3px 6px rgba(189,172,171,0.15);
    position: relative;
    z-index: 2;
}
.rank-top li{
    width: 25%;
    text-align: center;
    font-size: 0.28rem;
    color: #888888;
    line-height: 0.69rem;   
}
.rank-top li.on{
    color: #e6453d;
    position: relative;
}
.rank-top li.on::after{
    content: '';
    width: 0.8rem;
    height: 0.02rem;
    background: #e6453d;
    display: block;
    position: absolute;
    bottom: 0;
    left: calc( 50% - 0.4rem )
}
.news-list {
    padding: 0 3%;
    margin-bottom: 1.2rem;
    background: #fff;
}
.news-list li{
    padding: 0.34rem 0;
    border-bottom: 1px solid  #ddd;
}
.news-list li a{
    display: block;
}
.news_list_left{
    width: 2.09rem;
    height: 1.34rem;
    overflow: hidden;
    position: relative;
    float: left;
    border-radius: 0.1rem;
}
.news_list_left img{
    max-width: 100%;
}
.news-list li:last-child{
    border-bottom: none
}
.news_list_right{
    width: 4.2rem;
    float: right;;
}
.news_list_right h2{
    font-size: 0.28rem;
    color: #222222;
    line-height: 0.35rem;
    height: 0.7rem;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
    margin-bottom: 0.25rem;
}
.news_list_right p{
    line-height: 0.35rem;
    font-size: 0.22rem;
    color: #989898;
}
.news_list_right span{
    font-size: 0.2rem;
    color: #c53b3a;
    border: 1px solid #c53b3a;
    border-radius: 50px;
    line-height: 0.26rem;
    padding:0 0.09rem ;
    margin-right: 0.23rem;
}
.news_list_right i{
    padding-left: 0.45rem;
    background: url('../img/img_44.png') no-repeat left center;
    background-size: 0.33rem;
    float: right;
    margin-right: 0.73rem;
    font-style: initial;
    line-height: 0.35rem;
    display: block;
    height: 0.35rem;;
}