.opation_list{
    padding-top: 0.19rem;
    box-sizing: border-box;
    width: 9;
    padding-bottom: 1.2rem;
}
.opation_list li{
    background: #fff;
    margin-bottom: 0.32rem;
    border-radius: 0.1rem;
    padding-bottom: 0.3rem;
}
.opation_list h2{
    font-size: 0.28rem;
    color: #333333;
    border-bottom: 1px solid #eee;
    line-height: 0.88rem;
    position: relative;
    padding: 0 0.42rem;
}
.opation_list h2 span{
    font-size: 0.24rem;
    color: #999999;
    position: absolute;
    top: 0;
    right: 0.42rem;
    display: block;
    line-height: 0.88rem;
}
.opation_list p{
    font-size: 0.26rem;
    color: #666666;
    line-height: 0.4rem;
    padding: 0.3rem 0.42rem;
}
.opation_list h3{
    font-size: 0.26rem;
    color: #666666;
    line-height: 0.4rem;
    padding:0 0.42rem;
}
.opation_list h3 span{
    color: #222222
}