body{
    background: #f3f3f3
}
.price-header {
    background: #fff;
    padding: 0.09rem 3%;
    text-align: center;
    height: 0.9rem;
    position: relative;
}
.price-header ul.f-cb{
    display: inline-block;
    padding: 0.1rem;
    background: #ffe1df;
    border-radius: 50px;
}
.price-header ul.f-cb li{
    float: left;
}
.price-header .f-cb li a{
    border-radius: 50px;
    display: block;
    color: #e6453d;
    line-height: 0.5rem;
    width: 1.7rem;
    height: 0.5rem;
    font-size: 0.26rem;
}
.price-header .f-cb li.hover a{
    background: #e6453d;
    color: #fff;
}
.price-search{
    float: right;
    width: 0.37rem;
    height: calc( 0.9rem - 0.18rem );
    background: url('../img/img_19.png') no-repeat center;
    background-size: 0.35rem;
    top: 0;
    right: 3%;
    position: absolute;
    height: 100%;
}
.search-absolute{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background:rgba(33,33,33,0.8);
    z-index: 11;
    display: none;
}
.search-absolute input{
    font-size: 0.28rem;
    color: #fff;
    line-height: 0.58rem;
    width: 90%;
    height: 0.58rem;
    display: block;
    background: none;
    border: none;
}
.search-absolute form {
    width: 5.6rem;
    margin: 0 auto;
    display: block;
    height: 0.58rem;
    position: relative;
    border-radius: 0.3rem;
    background-color: rgba(0,0,0,.4);
    padding-left: 0.64rem;
    background-image: url(../img/head01.png);
    background-repeat: no-repeat;
    background-position: 0.2rem center;
    background-size: 0.3rem auto;
    margin-top: 0.3rem;
}
.aui-navBar-item{
    top: 0.35rem;
}
.search-over{
    top: 1rem;
    border-top: none;
    background: none;
}
.search-over li{
    border-color: #a59f9f;
    color: #fff;
}
.search-over li a{
    color: #fff;
}
.submit-success{
    z-index: 12;
    background: rgba(255,255,255,1);
    color: #000;
}
.submit-success.on{
    background: rgba(0,0,0,.8);
    color: #fff;
}
.price-table p{
    display: flex
}
.price-table .table-top p{
    padding: 0 3%;
    border-bottom: 1px solid #eeeeee
}
.table-work {
    padding: 0 3%;
}
.price-table{
    background: #fff;
}
.price-table p a{
    display: flex;
    width: calc( 100% - 1rem );
}
.table-top p span{
    width: calc(( 100%  - 1rem ) / 3 );
    display: block;
    text-align: center;

}
.price-top p>span:last-child{
    width: 1rem;
}
.price-table p a>span{
    width: calc(( 100% ) / 3 );
    display: block;
    text-align: center;
}
.price-table p>span:last-child{
    width: 1rem;
}
.table-top p>span:last-child{
    opacity: 0;
}
.table-top p span{
    font-size: 0.28rem;
    color: #999;
    line-height: 0.79rem;
}
.table-work i{
    font-style: initial;
    font-size: 0.28rem;
    color: #333333;
    line-height: 0.35rem;
    display: block;
}
.table-work p{
    padding: 0.1rem 0;
    border-bottom: 1px solid #eee
}
.table-work p a>span span{
    font-size: 0.22rem;
    color: #888;
    display: block;
    line-height: 0.35rem;
    text-transform: uppercase;
}
#he_name{
    text-transform: uppercase;
}
.table-work p a>span.red{
    color: #e83a3a;
}
.table-work p a>span.green{
    color: #279d1b;
}
.table-work p a>span{
    color: #666666;
    font-size: 0.28rem;
    line-height: 0.7rem;
}
.table-work .del{
    width: 100%;
    height: 100%;
    background: url('../img//img_20.png') no-repeat center;
    background-size: 0.28rem;
    display: block;
}
.table-work p:last-child{
    border-bottom: none;
}
.table-work {
    margin-bottom: 1.2rem
    /* padding-bottom: 0.26rem; */
}
.guide-top a{
    float: left;
    background: url('../img/img_18.png') no-repeat center;
    background-size: contain;
    width: 0.2rem;
    height: 0.88rem;
    position: absolute;
    left: 3%;
    top: 0;
}


.guide-top{
    background: #fff;
    text-align: center;
    font-size: 0.36rem;
    color: #333333;
    line-height: 0.88rem;
    height: 0.88rem;
    padding: 0 3%;
    margin-bottom: 0.2rem;
}
.quotes-swiper{
    background: #fff;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev{
    width: 0.12rem;
    height: 0.24rem;
    margin-top: -0.12rem;
    background: url('../img/img_21.png') no-repeat center;
    background-size: 0.12rem;
    right: 0;
}
.swiper-container .swiper-button-prev{
    background: url('../img//img_22.png') no-repeat center;
    background-size: 0.12rem;
    left: 0;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
    opacity: 0 !important;
}
.quotes-swiper .swiper-container{
    padding: 0.24rem 0;
}
.swiper-container .swiper-slide{
    border-left: 0.02rem solid #ddd;
    text-align: center;
}
.swiper-container .swiper-slide a{
    display: block;
}
.swiper-container  .swiper-slide-active{
    border-left: none;  
}
.quotes-swiper .swiper-slide h2{
    font-size: 0.28rem;
    color: #333333;
    line-height: 0.35rem;
    margin-bottom: 0.15rem;
}
.quotes-swiper span{
    display: block;
    font-size: 0.34rem;
    /* color: #e83a3a; */
    color: #333;
    line-height: 0.35rem;
    margin-bottom: 0.12rem;
}
.quotes-swiper span.green{
    /* color: #279d1b */
}
.quotes-swiper p {
    font-size: 0.24rem;
    color: #888888;
    line-height: .34rem;
}
.quotes-swiper p i{
    font-style: initial;
    color: #e83a3a;
    padding-left: 0.2rem;
}
.quotes-swiper p i.green{
    color: #279d1b;
}
.quotes-swiper{
    margin-bottom: 0.2rem;
}
.title{
    padding: 0 3%;
    border-bottom: 1px solid #eeeeee;
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.79rem;
}
.quotes-list{
   
}
.quotes-list .title{
    padding: 0;
    background: url('../img/img_23.png') no-repeat right center;
    background-size: 0.22rem;
}
.quotes-list li.on .title{
    background: url('../img/img_24.png') no-repeat right center;
    background-size: 0.22rem;
}
.qulist-left{
    float: left;
    width: 30%;
}
.quotes-list li{
    background: #fff;
    padding: 0 3%;
}
.quotes-list a{
    display: block;
position: relative;
}
.quotes-list dd{
    padding: 0.2rem 0;
    border-bottom: 1px solid #eee
}
.quotes-list li  dd:last-child{
    border-bottom: none;
}
.qulist-left h2{
    font-size: 0.28rem;
    color: #333333;
    line-height: 0.35rem;
}
.qulist-left p{
    font-size: 0.22rem;
    color: #888;
    line-height: 0.35rem;
}
.quotes-list dd a>p{
    font-size: 0.28rem;
    color: #e83a3a;
    line-height: 0.7rem;
    float: right;
    width: 2rem;
    text-align: right;
}
.quotes-list dd a>p.hidd{
    /**position: absolute;
    top: 0;
    padding: 0;
   
    width: 100%;
    text-align: center;**/
    width: auto;
    text-align: center;
    min-width: 1.5rem;
    padding: 0;
}

.quotes-list dd a>p.green{
    color: #279d1b
}
.quotes-list dl{
    display: none;
}
.quotes-list li.on{
    margin-bottom: 0.2rem;
}
.ploy-header .price-search{
    background: none;
    font-size: 0.28rem;
    color: #888888;
    width: auto;
    line-height: calc( 0.9rem - 0.18rem );
}
.ploy-list{
    padding: .15rem 3%;
    background: #fff;
    margin: 0.2rem 0;
    text-align: left;
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.7rem;
}
.ploy-list ul{
    float: right;
    display: flex
}
.ploy-list li a{
display: block;
color: #999999;
margin-left: 0.3rem;
border:1px solid #cccccc;
padding: 0 0.22rem;
height: 0.66rem;
border-radius: 0.1rem;
font-size: 0.32rem;
line-height: 0.66rem;
}
.ploy-list li.hover a{
    color: #e6453d;
    border-color: #e6453d;
}
.m20{
    margin-bottom: 0.2rem;
    background: #fff;
    position: relative;
    padding: 0 3%;
}
.ploy-money{
    font-size: 0.28rem;
    color: #333333;
    padding: 0.09rem 0;
    border-bottom: 1px solid #eee;
}
.ploy-money>div {
    font-size: 0.24rem;
    color: #989898;
    border:0.02rem solid #aaaaaa;
    border-radius: 0.1rem;
    padding: 0 0.15rem;
    line-height: 0.65rem;
    display: inline-block;
    position: relative;
}
.ploy-money>div>div{
    width: 2.3rem;
    display: -webkit-inline-box;
}
.ploy-money div input{
    background: none;
    border:none;
    width: 2.3rem;
    position: relative;
    z-index: 3;
    font-size: 0.24rem;
    top: 0;
    left:-0.1rem;
    display: block;
    -webkit-text-fill-color:transparent 
}
.ploy-money div span{
    position: absolute;
    top: 0;
    left: 0.15rem;
    width: 2.3rem;
    z-index: 2;
    font-size: 0.24rem;
}
.ploy-money p{
    float: right;
    font-size: 0.24rem;
    color: #989898;
    line-height: 0.65rem;
}
.play-bei h2{
    font-size: 0.28rem;
    color: #999999;
    line-height:0.64rem ;
}
.play-bei{
    padding-top: 0.12rem;
    border-bottom: 1px solid #eee
}
.play-bei li{
    width: calc(( (100% + 0.3rem ) / 4 ) - 0.3rem );
    float: left;
    margin-right: 0.3rem;
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.66rem;
    border:0.02rem solid #cccccc;
    text-align: center;
    border-radius: 0.1rem;
    margin-bottom: 0.3rem;
}
.play-bei li:nth-child(4n){
    margin-right: 0
}
.play-bei li.on{
    color: #e6453d;
    border-color: #e6453d
}
.play-num {
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.89rem;
    border-bottom: 1px solid #eee;
    position: relative;
}
.play-num p{
    float: right;
    font-size: 0.28rem;
    color: #333333
}
.play-num span.on{
	height: 0.89rem;
    background: url(../img//jieshi.png) no-repeat center right;
    background-size: 0.26rem;
    /* display: block; */
    /* float: left; */
    box-sizing: border-box;
    padding-left: 0.35rem;
}
.play-num span.on i{
  font-style: initial;
    display: none;
}
.play-loss{
    padding: 0.15rem 0;
}
.play-loss li{
    font-size: 0.28rem;color: #999999;
    padding: 0.15rem 0;
}
.green{
    color: #279d1b
}
.play-loss li p{
    float: right;
    font-size: 0.28rem;
    color: #333333;
    line-height: 0.58rem;
    margin-left: 0.28rem;
}
.play-loss li p span{
    width: 1rem;
    display: inline-block
}
.play-loss li div{
    float: right;
    position: relative;
    overflow: hidden;
    border:1px solid #dddddd;
    border-radius: 0.1rem;
}
.play-loss li div span{
    display: block;
    float: left;
    width: 0.46rem;
    font-size: 0.4rem;
    line-height: 0.5rem;
    text-align: center;
    background: #fff;
    color: #5db12a;

}
.play-loss li div input,
.play-loss li input[disabled]{
    float: left;
    width: 1.1rem;
    background: #f3f5f7;
    color: #279d1b;
    display: block;
    border:none;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    opacity: 1;
    border-radius: 0
}

.play-loss li.red input,
.play-loss li.red div span,
.play-loss li.red p span,
.play-loss li.red input[disabled]{
    color: #d63834;
    opacity: 1;
}
.play-num p span{
    font-size: 0.24rem;
    color: #989898;
}
.play-num.on p{
    font-size: 0.24rem;
}
.play-num b{
    height: 0.29rem;
    width:0.47rem;
    display: block;
    float: right;
    background: #aaaaaa;
    border-radius: 50px;
    margin-top: 0.3rem;
    position: absolute;
    top: 0;
    right: 0; 
    transition:all 0.3s;
}
.play-num b::after{
    display: block;
    position: absolute;
    left: 0.02rem;
    top: 0.02rem;
    height: 0.27rem;
    width: 0.27rem;
    clear: both;
    content: "";
    background: #fff;
    border-radius: 100%;
    transition:all 0.3s
}
.play-num b.on{
    background: #409eff;
    transition:all 0.3s
}
.play-num b.on::after{
    left: auto;
    right: 0.02rem;
    transition:all 0.3s
}
.play-num p a{
    background: url('../img//img_17.png') no-repeat right center;
    background-size: 0.14rem;
    display: block;
   
    /* width: 2rem; */
    height: 0.89rem;
    text-align: right;
    padding-right: 0.2rem;
    color: #555
}
.play-num p a i{
    font-style: normal;
    margin-right: 0.1rem;
    color:#999;
}
.ploy-bottom {
    background: #fff;  
    overflow: hidden; 
}
.ploy-bottom h2{
    padding: 0 3% 0 calc( 3% + 0.48rem );
    border-bottom: 1px solid #eee;
    font-size: 0.24rem;
    color: #333333;
    line-height: 0.89rem;
    background: url('../img//img_26.png') no-repeat 3% center;
    background-size: 0.26rem;
}
.ploy-bottom h2.on{
    background: url('../img//img_25.png') no-repeat 3% center;
    background-size: 0.26rem;
}
.ploy-bottom>a{
    display: block;
    width: 94%;
    margin:  0.16rem 3%;
    background: #f2524a;
    line-height: 0.89rem;
    text-align: center;
    font-size: 0.28rem;
    color: #fff;
    border-radius: 0.1rem;
}
.ploy-bottom>a.on{
    background: #888;
}
.ploy-bottom h2 a{
    color: #409eff
}
.shade{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
  display:none;
}
.shade-work{
    width: 80%;
    box-sizing: border-box;
    margin:  0 auto;
    background: #fff;
    position: relative;
    top: 40%;
  padding-top:0.2rem;
    border-radius: 0.2rem;
    
}
.shade-work p{
    padding: 0.4rem ;
    padding-top: 0rem;
    font-size: 0.3rem;
    padding-left: 0.6rem;
    padding-bottom: 0;
    text-align: center;
}
.shade-work  span{
    font-size: 0.24rem;
    line-height: 0.3rem;
    display: block;
    text-align: center;
    margin: 0.2rem 0;
}
.shade-work  div{
    display: flex;
    border-top: 1px solid #ddd;
    margin-top: 0.2rem;
}

.shade-work button{
    width:100%;
    font-size: 0.28rem;
    border:none;
    background: none;
    display: block;
    line-height: 0.8rem;
}
.shade-work p i{
    font-style: normal;
    font-size: 0.28rem;
    display: inline-block;
    padding: 0 0 0.1rem 0;
    padding-right: 0.1rem;
}