﻿/*
* @Author: name
* @Date:   2019-01-07 16:12:56
* @Last Modified by:   name
* @Last Modified time: 2019-01-07 16:45:00
*/
[v-cloak]{
   display: none !important;
}
.w94{
    width:94%;
    margin: 0 auto;
    position:relative;
}
.content-box{
    position: relative;
    z-index: 1;
    background:#f3f5f7;
    width:100%;
    padding-bottom: 0.98rem;
}
.node{
    font-size: 0.28rem;
    line-height: 0.35rem;;
}
/***Ê×Ò³****/
.welcome-banner li{
    width:100%;
}
.welcome-banner li a{
    display: block;
    width:100%;
}
header{
background:#fff}
.welcome-banner li img{
    width:100%;
}
.welcome-banner .swiper-pagination{
    font-size: 0;
}
.welcome-banner .swiper-pagination-bullet{
    width:5px;
    height:5px;
    opacity: 1;
    background:#b7b7b7;
}
.welcome-banner .swiper-pagination .swiper-pagination-bullet-active{
    background: #fff;
}
.welcome-list{
    width:100%;
    background:#fff;
    margin:0.15rem 0;
    padding: 0.2rem 0;
}
.welcome-list ul{
    width:100%;
}
.welcome-list li{
    float: left;
    width:33.33%;
    text-align: center;
    position:relative;
    border-left:1px solid #ddd;
}
.welcome-list li:first-child{
    border-left:none;
}
.welcome-list li h2{
    font-size:0.28rem;
    color: #222;
    line-height: 0.37rem;
    margin-bottom: 0.09rem;
}
.welcome-list li h3{
    font-size:0.34rem;
    line-height:0.42rem;
}
.welcome-list li .ico{
    padding-right: 0.2rem;
    background-size: 0.14rem auto !important;
}
.welcome-list li .ico.red{
    background:url(../img/wel03.png) no-repeat right center;
}
.welcome-list li .ico.green{
    background:url(../img/wel04.png) no-repeat right center;
}
.welcome-list li .num{
    font-size:0.24rem;
    line-height:0.36rem;
}
.welcome-list li .num:first-child{
    padding-left: 0.15rem;
}
.welcome-list li .num:last-child{
    padding-right: 0.15rem;
}
.welcome-list.on{
    margin-bottom: 0;
    margin-top: 0;
}
.loading{
display:none}
.welcome-list li .red{
    color:#fc5146;
}
.welcome-list li .green{
    color:#5db12a;
}
.welcome-links{
    width:100%;
    text-align: center;
    background:#fff;

}
.welcome-links ul{
    width:100%;
}
.welcome-links li{
    float: left;
    width:25%;
    text-align: center;
}
.date-list-con .line{
    height:4rem;
}
.date-list-con .line .m-line,.date-list-con .line .k-content{
    width:100%;
    height:100%;
}
.date-list-con{
    width:100%;
    background:#fff;
    padding:0.2rem 0 0.3rem;
}
.date-list-con .content{
    height:0;
    overflow:hidden;
    position: relative;
}
.welcome-links li a{
    display: block;
    padding:0.15rem 0 0;
    width:100%;
}
.welcome-links li img{
    width:0.8rem;
    display: block;
    margin:0 auto 0.02rem;
}
.welcome-links li h2{
    font-size:0.24rem;
    color:#222;
    line-height:0.53rem;
}
.welcome-notice{
    background:#fff;
    padding:0 .3rem;
    margin:0.15rem auto 0 ;
    border-radius: 0.35rem;
}
.welcome-notice .title{
    padding-left: 0.33rem;
    font-size:0.24rem;
    color:#d94542;
    height:0.7rem;
    line-height:0.7rem;
    background:url(../img/wel09.png) no-repeat left center;
    background-size:0.23rem auto;
}
.welcome-notice .see-more{
    font-size:0.24rem;
    color:#989898;
    height:0.7rem;
    line-height:0.7rem;
    padding-right: 0.25rem;
    background:url(../img/wel11.png) no-repeat right center;
    background-size:0.11rem auto;
}
.welcome-notice-list{
    float: left;
    height:0.7rem;
    line-height:0.7rem;
    width:60%;
}
.welcome-notice-list li{
    overflow: hidden;
    font-size:0.24rem;
    color:#666;
    height:0.7rem;
    line-height:0.7rem;
}
.welcome-notice-list li a{
    color:#666;
    display: block;
    width:100%;
}
.welcome-notice-list .swiper-pagination{
    display: none;
}
.welcome-news{
    width:100%;
    background:#fff;
}
.welcome-title{
    font-size: 0.28rem;
    color: #666666;
    line-height: 0.3rem;
    border-bottom: 1px solid #eeeeee;
    padding: 0.25rem 3%;
    box-sizing: border-box;
}
.welcome-title span{
    padding-left: 0.12rem;
    border-left: 0.04rem solid #e6453d;
    line-height: 0.3rem;
    display: block;
    height: 0.3rem;
}
.welcome-news  ul{
    padding-bottom: 0.2rem;
}
.welcome-news  li{
    border-bottom: 1px solid #eeeeee;
}
.welcome-news  li:last-child{
    border-bottom: none;
}
.welcome-news  li a{
    display: flex;
    padding: 0.2rem 0;
    position: relative;
}
.welcome-news  li .pic-box{
    padding: 0 0.4rem 0 0.1rem;
}
.welcome-news  li .pic-box h2{
    font-size: 0.28rem;
    color: #333;
    padding-bottom: 0.14rem;
    line-height: 0.3rem;
}
.welcome-news  li .pic-box p,
.welcome-news  li .pic-boxTwo p,
.welcome-news  li .pic-boxThree p{
    font-size: 0.22rem;
    color: #888;
    line-height: 0.3rem;
}
.welcome-news  li .pic-boxTwo,
.welcome-news  li .pic-boxThree{
    padding: 0 0.4rem;
    text-align: center;
}
.welcome-news  li .pic-boxTwo h2{
    font-size: 0.28rem;
    color: #e83a3a;
    padding-bottom: 0.14rem;
    line-height: 0.3rem;
}
.welcome-news  li .pic-boxThree  h2{
    font-size: 0.28rem;
    color: #666666;
    line-height: 0.3rem;
    padding-bottom: 0.14rem;
}
.welcome-news  li .pic-boxFour{
    border: 1px solid #e6453d;
    width: 1.18rem;
    height: 0.58rem;
    text-align: center;
    line-height: 0.58rem;
    font-size: 0.28rem;
    color: #e6453d;
    border-radius: 0.1rem;
    position: absolute;
    top: 0.2rem;
    right: 0;
}
.welcome-news li .pic-box{
    width:25%;
    border-radius:0.1rem;
}
/* .welcome-news li:first-child{
    border-top:none;
}
.welcome-news li{
    float: left;
    width:100%;
    border-top:1px solid #ddd;
}
.welcome-news li a{
    display: block;
    float: left;
    width:100%;
    padding:0.32rem 0;
}
.welcome-news li .pic-box{
    width:35%;
    border-radius:0.1rem;
}
.welcome-news li .con{
    width:60%;
}
.welcome-news li h2{
    font-size:0.28rem;
    color:#222;
    line-height:0.36rem;
    height:1.08rem;
    overflow:hidden;
    margin-bottom: 0.1rem;
}
.welcome-news li .info{
    width:100%;
    font-size:0.22rem;
    color:#989898;
    line-height:0.4rem;
}
.welcome-news li .tj{
    border:1px solid #d63834;
    color:#d63834;
    height:0.4rem;
    line-height:0.38rem;
    border-radius: 0.3rem;
    padding: 0 0.07rem;
    margin-right: 0.2rem;
}
.welcome-news li .see-p{
    margin-left: 0.3rem;
    padding-left: 0.4rem;
    background:url(../img/wel12.png) no-repeat left center;
    background-size:0.33rem auto;
} */
/***µ×²¿****/
footer{
    width:100%;
    background:#fff;
    border-top:1px solid #ddd;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 10;
}
footer ul{
    width:100%;
}
footer li{
    width:20%;
    float: left;
    text-align: center;
}
footer li a{
    display: block;
    width:100%;
    padding:0.14rem 0 0;
}
footer li .pic-box{
    width:0.44rem;
    height:0.44rem;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
footer li .pic-box .bg{
    position: absolute;
    top:0;
    left:0;
    opacity:1;
    filter:alpha(opacity=100);
}
footer li .pic-box .pic{
    opacity:0;
    filter:alpha(opacity=0);
}
footer li h2{
    font-size:0.2rem;
    color:#989898;
    line-height:0.44rem;
}
footer li.hover h2{
    color:#d63834;
}
footer li.hover .pic-box .bg{
    opacity:0;
    filter:alpha(opacity=0);
}
footer li.hover .pic-box .pic{
    opacity:1;
    filter:alpha(opacity=100);
}
/***Í·²¿****/
/* header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
    padding:0.15rem 0;
    background:rgba(0,0,0,.0);
    transition: background 0.3s;
} */
header.app,.guide-top.app,.guide-tapp.app,.personal-title.app,.vouchers-title.app,.optional-info-list.app{
    position: relative;
}
header .back,.guide-top .back,.guide-tapp .back,.personal-title .back,.vouchers-title .back,.optional-info-list .back{
    display: none;
}
.guide-top.app .back,.vouchers-title.app .back{
    background: none;
}
header.app .back,.guide-top.app .back,.guide-tapp.app .back,.personal-title.app .back,.vouchers-title.app .back,.optional-info-list.app .back{
    display: block;
    position: absolute;
    left: 0.3rem;
    color: #333;
    top: 0;
}
.guide-top.loginon.app .back,.optional-info-list.app .back{
    color: #fff;
}
.vouchers-title.app .back,.guide-tapp.app .back{
    right: unset;
    width: unset;
    height: unset;
    margin: 0;
}

header.active{
    position: relative;
    background:rgba(0,0,0,1);
    height: 0.88rem;
    line-height: 0.88rem;
    padding-top: 0.15rem;
}
.header-top{
    height: 0.89rem;
    text-align: center;
    font-size: .36rem;
    line-height: 0.89rem;
    color: #333333;
}
.header-top a img{
    width: 0.36rem;
}
header form{
    width:5.6rem;
    margin:0 auto;
    display: block;
    height:0.58rem;
    position:relative;
    border-radius:0.3rem;
    background-color:rgba(255,255,255,.4);
    padding-left: 0.64rem;
    background-image: url(../img/head01.png);
    background-repeat: no-repeat;
    background-position: 0.2rem center;
    background-size:0.3rem auto;
}
header form input{
    font-size:0.28rem;
    color:#fff;
    line-height:0.58rem;
    width:90%;
    height:0.58rem;
    display: block;
    background:none;
    border:none;
}
header form input::-webkit-input-placeholder{
    color: #fff;
}
header form input:-moz-placeholder{
    color: #fff;
}
header form input::-moz-placeholder{ 
    color:#fff;
}
header form input:-ms-input-placeholder{
    color: #fff;
}
header .info-links{
    width:0.3rem;
    height:0.3rem;
    background:url(../img/head02.png) no-repeat center;
    background-size:100% auto;
    position:absolute;
    top:50%;
    margin-top: -0.15rem;
    right:0.43rem;
}
header .info-links .red-box{
    width:0.1rem;
    height:0.1rem;
    background:#d63834;
    border-radius:50%;
    position: absolute;
    top:-0.04rem;
    right:0;
    display: none;
}
header .info-links.active .red-box{
    display: block;
}
/***loading****/


@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }
    25%{
        -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    }
    75% {
        -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }
    25%{
        -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    }
    75% {
        -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }
}
.search-over {
    width: 100%;
    background: #fff;
    position: fixed;
    border-top: 1px solid #ddd;
    box-shadow: 0 4px 5px rgba(0,0,0,.1);
    top:0.88rem;
    left: 0;
    z-index: 9;
    padding: 3%;
    text-align: left;
    display: none;
    overflow: auto;
    height: calc( 100% - 1rem );
}
.search-over li {
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.28rem;
    line-height: 0.6rem;
    /*left: 50px;
    opacity: 0;*/
    position: relative;
}
.search-over li a {
    display: block;
    width: 100%;
    color: #222;
}
/***ÐÂÎÅ****/
.news-title{
    background:#f3f5f7;
    width:100%;
    height:0.58rem;
    position:fixed;
    top:0.88rem;
    left:0;
    z-index:2;
}
.news-title a{
    float: left;
    width:16.66%;
    font-size:0.3rem;
    color:#222;
    text-align: center;
    line-height:0.58rem;
    position:relative;
}
.news-title a.hover{
    color:#d63834;
}
.news-title a.hover:after{
    content: "";
    width:100%;
    height:1px;
    background:#d63834;
    position: absolute;
    left:0;
    bottom:0;
}
.welcome-news.news{
    padding: 1.46rem 0 0;
}
.pbnone{
    padding-bottom: 0;
}
.welcome-news li.morepicture a{
    padding:0.24rem 0 0.28rem;
}
.welcome-news li.morepicture h2{
    height:auto;
    margin-bottom: 0.25rem;
}
.welcome-news li.morepicture .pic-box{
    width:100%;
    padding-bottom: 0.3rem;
}
.welcome-news li.morepicture img{
    width:32%;
    float: left;
    margin-right: 2%;
    border-radius: 0.1rem;
}
.welcome-news li.morepicture img:nth-child(3){
    margin-right: 0;
}
.news-info{
    padding:0.35rem 0 0;
    background:#fff;
}
.news-info h2{
    font-weight:bold;
    font-size:0.34rem;
    color:#222;
    line-height:0.6rem;
    padding-bottom: 0.4rem;
    text-align: center;
}
.news-info p{
    font-size: 0.28rem !important;
    color: #666 !important;
    line-height: 0.56rem !important;
    padding-bottom: 0.3rem !important;
}
.news-info p span{
    font-size: 0.28rem !important;
    color: #666 !important;
    line-height: 0.56rem !important;
}
.news-info strong{
    font-size:0.34rem !important;
    color:#222 !important;
    line-height:0.6rem !important;
    font-weight:normal;
}
.news-info img{
    max-width:100%;
    width: 100%;
    height:auto !important;
}

/***ÏûÏ¢***/
.information,.information-list{
    width:100%;
    background:#fff;
}
.information a{
    display: block;
    width:100%;
    border-top:1px solid #ddd;
    line-height:0.88rem;
    padding-left: 0.68rem;
    font-size:0.28rem;
    color:#222;
    background-size:0.3rem auto !important;
}
.information a:first-child,.information-list li:first-child{
    border-top:none;
}
.information a.ico1{
    background: url(../img/info01.png) no-repeat 0.09rem center;
}
.information a.ico2{
    background: url(../img/info02.png) no-repeat 0.09rem center;
}
.information a.ico3{
    background: url(../img/info03.png) no-repeat 0.09rem center;
}
.information a.ico4{
    background: url(../img/info04.png) no-repeat 0.09rem center;
}
.information a .num{
    color:#fff;
    font-size:0.2rem;
    background:#d63834;
    float: right;
    padding:0 0.1rem;
    line-height:0.3rem;
    border-radius:0.55rem;
    margin-top:0.29rem;
}
.information a .fonts{
    float: right;
    color:#989898;
    font-size:0.24rem;
}
.information-list li{
    padding:0.15rem 0 0.15rem;
    border-top:1px solid #ddd;
    width:100%;
}
.information-list li h2{
    font-size:0.28rem;
    line-height:0.37rem;
    color:#222;
}
.information-list li p{
    font-size:0.2rem;
    color:#ababab;
    line-height:0.4rem;
}
.information-packet{
    padding-top: 0.3rem;
}
.information-packet li{
    margin-bottom: 0.15rem;
    background:#fff;
    border-top:2px solid #fc5146;
    padding:0.13rem 0;
    float: left;
    width:100%;
}
.information-packet li .element{
    float: left;
    width:41%;
    text-align: center;
    height:1.3rem;
    line-height:1.3rem;
    font-size:0.63rem;
    color:#fc5146;
    border-right:1px solid #ddd;
}
.information-packet li .con{
    float: left;
    width:59%;
    padding-left:6%;
}
.information-packet li h2{
    font-size:0.32rem;
    color:#989898;
    line-height:0.68rem;
}
.information-packet li p{
    font-size:0.2rem;
    color:#989898;
    line-height:0.4rem;
}
/***µÇÈë×¢²á***/
.w80{
    width:80%;
    margin:0 auto;
    position:relative;
}

.content-loreq h1{
    color:#fff;
    font-size:0.38rem;
    line-height:0.58rem;
    text-align: center;
}
.content-loreq .title{
    font-size:0.3rem;
    color:#fff;
    line-height:0.4rem;
    padding-left:0.72rem;
    background:url(../img/l02.png) no-repeat left center;
    background-size:0.51rem auto;
    margin-top:0.8rem;
}
.content-loreq form{
    width: 100%;
    display: block;
    padding-top: 0.1rem;
}
.content-loreq label{
    width:100%;
    height:0.68rem;
    display: block;
    margin-top: 0.35rem;
    border-bottom   : 1px solid #ddd;
    background: none;
    padding-left: 0.8rem;
    background-size:0.34rem auto !important;
    background-repeat:no-repeat !important;
    background-position:0.07rem center !important;
    position: relative;
}
.content-loreq label.ico1{
    background-image:url(../img/l03.png);
}
.content-loreq label.ico7{
    background-image:url(../img/l10.png);
}
.content-loreq label.ico2{
    background-image:url(../img/l04.png);
}
.content-loreq label.ico3{
    background-image:url(../img/l05.png);
}
.content-loreq label.ico9{
    background-image:url(../img/l05.png);
}
.content-loreq label.code{
    width:50%;
    border-bottom: none;
}
.content-loreq form div.f-cb{
    border-bottom: 1px solid #ddd
}
.register .btn{
    margin: 0.55rem 0 0;
    background:none;
    border:none;
    padding:0 0.15rem;
    height:0.3rem;
    line-height:0.3rem;
    border-left:1px solid #ddd;
    font-size:0.28rem;
    color: #eb6262;
}

.content-loreq label input{
    color:#666666;
    font-size:0.28rem;
    display: block;
    height:0.68rem;
    width:95%;
    line-height:0.68rem;
    border:none;
    background:none;
    position: relative;
}
.content-loreq label input::-webkit-input-placeholder{
    color: #666666;
}
.content-loreq label input:-moz-placeholder{
    color: #666666;
}
.content-loreq label input::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:#666666;
}
.content-loreq label input:-ms-input-placeholder{
    color: #666666;
}
/* .content-loreq label input[type=password]::after{
    content: "";
    display: block;
    width: 0.35rem;
    height: 0.25rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.12rem;
    background: url(../img/p05.png) no-repeat center;
    background-size: 100% auto !important;
} */
.content-loreq label .clickable {
    display: block;
    width: 0.35rem;
    height: 0.25rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.12rem;
    background: url(../img/p05.png) no-repeat center;
    background-size: 100% auto !important;
    z-index: 10;
}
.content-loreq label .clickable.hover {
    background: url(../img/p06.png) no-repeat center;
}
.content-loreq .links{
    width:100%;
    padding-bottom: 0.61rem;
    border-bottom: none !important;
}
.content-loreq .links a{
    font-size:0.26rem;
    color:#999999;
    line-height:0.77rem;
}
.content-loreq input[type="submit"]{
    width:100%;
    background:#e74f4c;
    color:#fff;
    border:none;
    display: block;
    height:0.7rem;
    line-height:0.7rem;
    text-align: center;
    border-radius:0.1rem;
    font-size:0.3rem;
    padding:0;
    margin:0;
}

#logincss {
    width: 100%;
    background: #eb6262;
    color: #fff;
    border: none;
    display: block;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.3rem;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    margin-top: 1.2rem
}

.content-loreq input[type="submit"].res{
        width: 100%;
    background: #eb6262;
    color: #fff;
    border: none;
    display: block;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.3rem;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    margin-top: 1.2rem;
}
.content-loreq .btn.hover{
    background:#a7a7a7;
}
/* .login{
    padding-top:2rem;
} */
/* .register{
    padding-top:1.2rem;
} */
.ts{
    width:100%;
    text-align: center;
    font-size:0.2rem;
    color:#999999;
    line-height:0.5rem;
    padding-top: 0.6rem;;
    /* position:absolute; */
}
.ts .red{
    color:#e74f4c;
}
.forget-box{
    width:100%;
}
.forget-box h1{
    text-align: center;
    width:100%;
    background:#333;
    color:#fff;
    font-size:0.34rem;
    line-height:0.8rem;
}
.forget-box .bgfff{
    background:#fff;
}
.forget-box label{
    display: block;
    width: 94%;
    margin:0 auto;
    position:relative;
    border-top:1px solid #ddd;
    padding-left: 0.67rem;
    background-size:0.3rem auto !important;
    background-repeat:no-repeat !important;
    background-position:0.07rem center !important;
}
.forget-box label:first-child{
    border-top:none;
}
.forget-box label.ico1{
    background-image:url(../img/l06.png);
}
.forget-box label.ico2{
    background-image:url(../img/l07.png);
}
.forget-box label.ico3{
    background-image:url(../img/l04.png);
}
.forget-box label.ico4{
    background-image:url(../img/l04.png);
}
.forget-box label.ico9{
    background-image:url(../img/l05.png);
    background-size: 0.34rem !important
}
.forget-box label input{
    width:100%;
    font-size:0.28rem;
    color:#989898;
    line-height:0.67rem;
    margin:0.1rem 0;
    border:none;
    padding:0;
}
.forget-box label input[type="button"]{
    width:auto;
    padding:0 0.2rem;
    background:none;
    border:none;
    border-left:1px solid #ddd;
    position: absolute;
    right:0;
    top:0;
    color: #f2524a
}
.forget-box input[type="submit"]{
    background:#f2524a;
    width:94%;
    margin:0.5rem auto 0;
    text-align: center;
    border:none;
    padding: 0.09rem 0;
    color:#fff;
    line-height: 0.7rem;
    font-size:0.36rem;
    display: block;
    border-radius:0.1rem;
}

/*****×ÔÑ¡¹É****/
/*.optional{
    padding-top:0.88rem;
}*/
.optional .list{
    width:100%;
    padding:0 3% 0.1rem;
    background:#fff;
    margin-top: 0.15rem;
}
.optional .list h2{
    font-size:0.3rem;
    color:#989898;
    line-height:0.68rem;
    padding-bottom: 0.1rem;
}
.optional .list ul{
    width:100%;
}
.optional .list li{
    float: left;
    width:32%;
    margin:0 2% 0.3rem 0;
    border:1px solid #dcdcdc;
    border-radius:0.1rem;
    text-align: center;
}
.optional .list li:nth-child(3n){
    margin-right: 0;
}
.optional .list a{
    display: block;
    width:100%;
    padding: 0.15rem 3% 0.2rem;
}
.optional .list h3{
    font-size:0.28rem;
    color:#333;
    line-height:0.5rem;
}
.optional .list h4{
    font-weight:normal;
    font-size:0.26rem;
    color:#686868;
    line-height:0.44rem;
    margin-bottom: 0.1rem;
}
.optional .list p{
    font-size:0.24rem;
    color:#f08b21;
    line-height:0.38rem;
}
/****¸öÈËÖÐÐÄ*****/
.header-picture{
    width:100%;
    position:relative;
    overflow: hidden;
    height:4.6rem;
    background-size:cover !important;
}
.header-picture .bg-pic{
    width:100%;
 	height:4.9rem;
  	background-size: cover !important;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.header-picture .cont{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
}
.header-picture .cont a{
    display: block;
    width:100%;
    height:100%;
    padding-top: 1.5rem;
}
.header-picture .cont .picture{
    width:1.5rem;
    height:1.5rem;
    margin:0 auto;
    background-size:cover !important;
    border-radius:50%;
    overflow:hidden;
}
.header-picture .cont p{
    font-size: 0.3rem;
    color: #fff;
    line-height: 0.6rem;
}
.personal-list{
    width:100%;
    background:#fff;
    margin-bottom:0.15rem;
}
.personal-list a{
    display: block;
    width:94%;
    margin:0 auto;
    border-top:1px solid #ddd;
    line-height:0.9rem;
    padding-left: 0.58rem;
    font-size:0.28rem;
    color:#222;
    background-repeat:no-repeat !important;
    background-position:0.09rem center !important;
    background-size:0.35rem auto !important;
}
.personal-list a:first-child{
    border-top:none;
}
.personal-list a.ico1{
    background-image:url(../img/per02.png);
}
.personal-list a.ico2{
    background-image:url(../img/per03.png);
}
.personal-list a.ico3{
    background-image:url(../img/per04.png);
}
.personal-list a.ico4{
    background-image:url(../img/per05.png);
}
.personal-list a.ico5{
    background-image:url(../img/per06.png);
}
.personal-list a.ico6{
    background-image:url(../img/per07.png);
}
.personal-list a.ico7{
    background-image:url(../img/per08.png);
}
.personal-list a.ico8{
    background-image:url(../img/per09.png);
}
.personal-list span.tss,.personal-data-list span.tss{
    font-size:0.2rem;
    color:#989898;
    height:0.9rem;
    line-height:0.9rem;
}
.personal-data-list span.tss{
    height:0.87rem;
    line-height:0.87rem;
}
.personal-list span.jt,.personal-data-list span.jt{
    padding-right: 0.2rem;
    background:url(../img/wel11.png) no-repeat right center;
    background-size:0.11rem;
}
.personal-title{
    width:100%;
    background:#fff;
    color:#333;
    font-size:0.36rem;
    text-align: center;
    line-height:0.89rem;
    position: relative;
  margin-bottom:0.2rem
}
.personal-data-list{
    width:100%;
    background:#fff;
    margin-bottom: 0.15rem;
}
.personal-data-list a{
    display: block;
    width:94%;
    font-size:0.28rem;
    color:#222;
    margin:0 auto;
    position:relative;
    line-height:0.87rem;
    border-top:1px solid #ddd;
}
.personal-data-list a:first-child{
    border-top:none;
}
.personal-data-list .picture{
    width:0.6rem;
    height:0.6rem;
    border-radius:50%;
    float: right;
    display: block;
    margin-top: 0.13rem;
    background-size:cover !important;
}
.personal-data-list .open{
    width:30px;
    height:16px;
    position:absolute;
    border-radius:15px;
    border:1px solid #ddd;
    float: right;
    background:#fff;
    transition:all 0.3s;
    top:50%;
    margin-top:-5px;
    right:0;
}
.personal-data-list .open.hover{
    background:#66bc6a;
    border-color: #66bc6a;
}
.personal-data-list .open:after{
    content:"";
    width:14px;
    height:14px;
    background:#ddd;
    border-radius:50%;
    position: absolute;
    top:0px;
    left:0px;
    transition:all 0.3s;
}
.personal-data-list .open.hover:after{
    left:15px;
    background:#fff;
}
.exit,.personal-cash input[type="submit"],.personal-attr input[type="submit"]{
    width:90%;
    margin:0.3rem auto 0;
    display: block;
    text-align: center;
    background:#e74f4c;
    color:#fff;
    font-size:0.26rem;
    color:#fff;
    background:#e74f4c;
    border-radius:0.1rem;
    height: 0.88rem;
    line-height: 0.88rem;
}
.personal-attr input[type="submit"]{
}
.file-box{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    display: none;
    background:rgba(0,0,0,.5);
    z-index:11;
}
.file-box .bottom{
    width:100%;
    background:#fff;
    position: absolute;
    bottom:-50%;
    left:0;
}
.file-box .top{
    width:100%;
}
.file-box .top label{
    width:50%;
    height: 1rem;
    line-height: 1rem;
    position: relative;
    font-size: 0.32rem;
    text-align: center;
    display: block;
    float: left;
}
.file-box .top label input{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
}
.file-box .top label:first-child:after{
    content:"";
    width:1px;
    height:80%;
    background:#ddd;
    position: absolute;
    top:10%;
    right:0;
}
.file-box .file-box-cel{
    width:100%;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.32rem;
    color:#666;
    border-top:1px solid #ddd;
}



.file-box2{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    display: none;
    background:rgba(0,0,0,.5);
    z-index:11;
}
.file-box2 .bottom{
    width:100%;
    background:#fff;
    position: absolute;
    bottom:-50%;
    left:0;
}
.file-box2 .top{
    width:100%;
}
.file-box2 .top label{
    width:50%;
    height: 1rem;
    line-height: 1rem;
    position: relative;
    font-size: 0.32rem;
    text-align: center;
    display: block;
    float: left;
}
.file-box2 .top label input{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
}
.file-box2 .top label:first-child:after{
    content:"";
    width:1px;
    height:80%;
    background:#ddd;
    position: absolute;
    top:10%;
    right:0;
}
.file-box2 .file-box-cel{
    width:100%;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.32rem;
    color:#666;
    border-top:1px solid #ddd;
}




.change-label{
    width:100%;
    padding:0 0.3rem 0 0.84rem;
    line-height:0.88rem;
    height:0.88rem;
    display: block;
    background-size:0.31rem auto !important;
}
.change-label input{
    width:100%;
    border:none;
    background:none;
    font-size:0.28rem;
    color:#666;
    line-height:0.88rem;
    height:0.88rem;
    display: block;
}
.change-label input::-webkit-input-placeholder{
    color: #989898;
}
.change-label input:-moz-placeholder{
    color: #989898;
}
.change-label input::-moz-placeholder{
    color:#989898;
}
.change-label input:-ms-input-placeholder{
    color: #989898;
}
.change-label.ico1{
    background:#fff url(../img/per10.png) no-repeat 0.3rem center;
}
.change-label.ico2{
    background:#fff url(../img/l09.png) no-repeat 0.3rem center;
}
.change-label-fonts{
    padding-top: 0.2rem;
    font-size:0.2rem;
    color:#989898;
    line-height:0.6rem;
    text-align: center;
}
.account-top{
    width:100%;
    background:url(../img/per11.jpg) no-repeat center;
    padding:0.14rem 0 0.4rem;
    background-size:cover !important;
}
.account-top h2{
    font-size:0.28rem;
    color:#fff;
    line-height:0.98rem;
}
.account-top h1{
    font-size:0.5rem;
    color:#fff;
    float: left;
    line-height:0.6rem;
}
.account-top .links{

}
.account-top .links,.account-center .links{
    width:2rem;
    border:1px solid #fff;
    text-align: center;
    line-height:0.58rem;
    position:relative;
    border-radius:0.1rem;
}
.account-top .links:after,.account-center .links:before{
    content:"";
    width:1px;
    height:0.3rem;
    background:#fff;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -0.15rem;
}
.account-top .links a,.account-center .links a{
    display: block;
    float: left;
    width:50%;
    font-size:0.26rem;
    color:#fff;
}
.account-center .links{
    border-color:#d63834;
}
.account-center .links:before{
    background:#d63834;
}
.account-center .links a{
    color:#d63834;
}
.account-top p{
    font-size:0.2rem;
    color:#fff;
    padding-top: 0.3rem;
    line-height:0.4rem;
}
.account-center{
    background:#fff;
    width:100%;
    padding:0.19rem 0 0.3rem;
    margin-bottom: 0.15rem;
}
.account-center h2{
    font-size:0.28rem;
    color:#222;
    line-height:0.49rem;
}
.account-center p{
    color:#222;
    font-size:0.26rem;
    line-height:0.42rem;
    margin-bottom: 0.17rem;
}
.account-center .bb h2,.account-center .bb p{
    color:#989898;
}
.sixDigitPassword {
    height: 26px;
    color: #fff;
    font-size: 12px;
    -webkit-user-select: initial;
    outline: 'none';
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width:100%;
    height:100%;
  }
.sixDigitPassword-box {
    cursor:text;
    background: #fff;
    outline: none;
    position: relative;
    padding:5px 0;
    height:33px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}
.sixDigitPassword-box i {
    float: left;
    display: block;
    padding: 4px 0;
    height:23px;
    line-height: 15px;
    border-left: 1px solid #cccccc;
}
.sixDigitPassword-box i:first-child{
    border-left:none;
}
.sixDigitPassword-box .active {
    background: url('../img/password-blink.gif') no-repeat center center;
}
.sixDigitPassword-box b {
    display: block;
    margin: 0 auto;
    width:29px;
    height:15px;
    overflow: hidden;
    visibility:hidden;
    background: url('../img/passeord-dot.png') no-repeat center;
}
.sixDigitPassword-box span {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width:30px;
    height: 30px;
    border: 1px solid rgba(82, 168, 236, .8);
    border: 1px solid #00ffff;
    border-radius: 2px;
    visibility: hidden;
    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.75), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.ui-securitycore  .ui-form-item .ui-form-explain{
    margin-top: 8px;
}
 .six-password{
    position: relative;
    height:33px;
    width:182px;
    margin: 0 auto;
    display: block;
    vertical-align:middle;
}
.personal-cash label{
    width:100%;
    display: block;
    margin-bottom: 0.15rem;
    padding:0 3% 0 0.9rem;
    font-size:0.3rem;
    color:#989898;
    line-height:0.88rem;
    background-size:0.31rem auto !important;
}
.personal-cash label.ico1{
    background:#fff url(../img/per12.png) no-repeat 0.31rem center;
}
.personal-cash label.ico2{
    background:#fff url(../img/per13.png) no-repeat 0.31rem center;
}
.personal-cash label input{
    width:100%;
    border:none;
    font-size:0.26rem;
    color:#666;
}
.personal-cash label input::-webkit-input-placeholder,.personal-attr label input::-webkit-input-placeholder,.optional-text::-webkit-input-placeholder{
    color: #989898;
}
.personal-cash label input:-moz-placeholder,.personal-attr label input:-moz-placeholder,.optional-text:-moz-placeholder{
    color: #989898;
}
.personal-cash label input::-moz-placeholder,.personal-attr label input::-moz-placeholder,.optional-text::-moz-placeholder{
    color:#989898;
}
.personal-cash label input:-ms-input-placeholder,.personal-attr label input:-ms-input-placeholder,.optional-text:-ms-input-placeholder{
    color: #989898;
}
.personal-cash input[type="submit"],.personal-attr input[type="submit"]{
    border:none;
    line-height:0.54rem;
    height:0.88rem;
    width:94%;
}
#payPassword_container{
    padding-top: 0.8rem;
    text-align: center;
    opacity:0;
    filter:alpha(opacity=0)
}
#payPassword_container.hover{
    opacity:1;
    filter:alpha(opacity=100)
}
.personal-water-list{
    width:100%;
}
.personal-water-list .title{
    width:100%;
    background:#fff url(../img/per16.png) no-repeat 97% center;
    padding:0 3%;
    font-size:0.3rem;
    color:#707070;
    line-height:0.8rem;
    background-size:0.18rem auto !important;
}
.personal-water-list dl{
    width:100%;
    background:#fff;
    display: none;
    border-top: 1px solid #eee;
}
.personal-water-list dd{
    width: 96%;
    padding: 0 3% 0 0.66rem;
    line-height: 0.88rem;
    font-size: 0.26rem;
    color: #666;
    margin: 0 auto;
    border-top: 1px solid #eee;
    background-size: 0.3rem auto !important;
}
.personal-water-list dd.ico1{
    background:url(../img/per15.png) no-repeat 3% center;
}
.personal-water-list dd.ico2{
    background:url(../img/per14.png) no-repeat 3% center;
}
.personal-water-list dd:first-child{
    border-top:none;
}
.personal-water-list li.hover .title{
    background:#fff url(../img/per16_h.png) no-repeat 97% center;
}
.spread-top{
    width:100%;
    padding:0.4rem 0;
    background:#fff;
    text-align: center;
    margin-bottom: 0.15rem;
}
.spread-top h2{
    font-size:0.3rem;
    color:#222;
    line-height:0.47rem;
}
.spread-top img{
    display: block;
    width:1.83rem;
    margin:0.4rem auto;
}
.spread-top p{
    font-size:0.28rem;
    color:#222;
    line-height:0.46rem;
}
.personal-spread-title{
    background:#fff;
    width:100%;
    padding:0 3%;
    line-height:0.88rem;
    font-size:0.28rem;
    margin-bottom: 0.15rem;
}
.personal-spread-title span{
    font-size:0.2rem;
    color:#989898;
}
.spread-list{
    width:100%;
    background:#fff;
    padding:0 3%;
}
.spread-list li{
    width:100%;
    border-top:1px solid #ddd;
    line-height:0.69rem;
    float: left;
    text-align: center;
}
.spread-list li span{
    width:33.33%;
    line-height:0.69rem;
    height:0.69rem;
    font-size:0.2rem;
    color:#989898;
    float: left;
}
.spread-list li.list-tit{
    line-height:0.87rem;
    border:none;
}
.spread-list li i{
    width:0.5rem;
    height:0.5rem;
    display: block;
    border-radius:50%;
    margin:0.09rem auto;
    background-size:cover !important;
}
.spread-list li.list-tit span{
    line-height:0.87rem;
    height:0.87rem;
    font-size:0.28rem;
    color:#222;
}
.personal-attr{
    width:100%;
    margin-top: 0.2rem;
    background: #fff;
  	padding-bottom:0.3rem;
}
body{
    background: #f3f5f7
}
.guide-top a,.personal-title a{
    float: left;
    background: url('../img/img_18.png') no-repeat center;
    background-size: contain;
    width: 0.2rem;
    height: 0.88rem;
    position: absolute;
    top:0;
    left: 3%;
  display:block !important;
}

.guide-top a i,.personal-title a i{
display:none
}
.guide-top.on a{
display:block;
}
.guide-top{
    background: #fff;
    text-align: center;
    font-size: 0.36rem;
    color: #333333;
    padding: 0 3%;
  	height:.88rem;
  line-height:.88rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    position: relative;
}
.personal-attr label{
    line-height:0.87rem;
    border-bottom:1px solid #ddd;
    margin:0 3%;
    display: block;
    background:#fff;
}
.personal-attr label span{
    float: left;
    width:27%;
    font-size:0.28rem;
    color:#222;
    line-height:0.87rem;
}
.tts{
    font-size: 0.24rem;
    padding: 0 3%;
    margin-top: 0.15rem;
    /* color:  */
}
.personal-attr label input{
    float: left;
    border:none;
    width:73%;
    font-size:0.24rem;
    line-height:0.87rem;
    color:#666;
}
.personal-attr label:first-child{
    /* border-top:none; */
}
.personal-attr .picture-list{
    width:92%;
    margin:0.3rem auto 1.5rem;
}
.personal-attr .picture-list .list{
    width:47.8%;
    border:1px dashed #f58382;
    padding:0.08rem;
    border-radius:0.1rem;
}
.personal-attr .picture-list .box{
    width:100%;
    border-radius:0.1rem;
    background:#f58382;
    padding:0.27rem 0 0.15rem;
    position:relative;
    overflow:hidden;
}
.personal-attr .picture-list .fonts{
    text-align: center;
    position:relative;
}
.personal-attr .picture-list .add-picture{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover !important;
    z-index: 2;
}
.personal-attr .picture-list .fonts img{
    width:1.5rem;
    margin-bottom: 0.15rem;
}
.personal-attr .picture-list .fonts p{
    font-size:0.24rem;
    color:#fff;
    line-height:0.34rem;
}
.personal-attr .picture-list .fonts .open{
    width:0.66rem;
    height:0.66rem;
    position: absolute;
    top:50%;
    left:50%;
    background:url(../img/per18.png) no-repeat center;
    background-size:100% auto;
    margin:-0.33rem 0 0 -0.33rem;
}
.personal-title input{
    float: right;
    margin-right: 3%;
    background:none;
    border:none;
    padding:0;
    font-size:0.3rem;
    line-height:0.88rem;
    position: absolute;
    top: 0;
    right: 0;
}
.optional-box{
    position:relative;
}
.optional-text{
    width:92%;
    min-height:6rem;
    margin:0.3rem auto;
    background:#fff;
    display: block;
    border:none;
    border-radius:0.2rem;
    font-size:0.26rem;
    color:#666;
    line-height:0.36rem;
    padding:0.23rem 0.36rem;
}
.optional-box .fonts{
    font-size:0.26rem;
    color:#989898;
    line-height:0.36rem;
    position: absolute;
    bottom:0.2rem;
    right:6%;
}
.personal-agree-list{
    width:100%;
    background:#fff;
    padding:0 3%;
}
.personal-agree-list li{
    width:100%;
    border-top:1px solid #ddd;
    line-height:0.88rem;
    float: left;
}
.personal-agree-list li a{
    float: left;
    width:100%;
    padding: 0 0.2rem 0 0.1rem;
    background:url(../img/wel11.png) no-repeat 97% center;
    background-size:0.11rem auto;
}
.personal-agree-list li .name{
    float: left;
    font-size:0.28rem;
    color:#989898;
    width:27%;
}
.personal-agree-list li .odd-num{
    float: left;
    text-align:center;
    font-size:0.28rem;
    color:#989898;
    width:50%;
}
.personal-agree-list li:first-child{
    line-height:0.88rem;
  	border-top:none;
}
.personal-agree-list li:first-child a{
    background:none;
}
.personal-agree-list li:first-child .name,.personal-agree-list li:first-child .odd-num{
    font-size:0.28rem;
    color:#222;
}
.personal-agre-data{
    background:#fff;
    padding:0.3rem 3% 0.5rem;
    width:100%;
}
.personal-agre-data h2{
    text-align: center;
    font-size: 0.4rem;
    line-height: 0.68rem;
    color:#222;
    margin-bottom: 0.2rem;
}
.personal-agre-data p{
    font-size:0.24rem;
    line-height:0.4rem;
    color:#666;
}
.personal-card{
    margin-top: 0.3rem;
    padding:0.3rem;
    background-size:cover !important;
    border-radius:0.15rem;
    overflow:hidden;
    position:relative;
}
.personal-card .picture{
    width:13%;
    float: left;
    margin-right:5%;
}
.personal-card .con{
    float: left;
    width:82%;
}
.personal-card h2{
    font-size:0.36rem;
    color:#fff;
    line-height:0.5rem;
    margin-bottom: 0.15rem;
}
.personal-card p{
    font-size:0.28rem;
    color:#fff;
    line-height:0.47rem;
    margin-bottom: 0.39rem;
}
.personal-card h3{
    font-size:0.4rem;
    color:#fff;
    line-height:0.52rem;
}
/***ÅÅÐÐ****/
.panking-top{
    position:relative;
    top:0;
    left:0;
    width:100%;
    z-index: 5;
}
.panking-top .banner img{
    width:100%;
}
.panking-top-b{
    background:#fff;
    width:100%;
    padding:0 3%;
}
.panking-top-b .title{
    width:100%;
    font-size:0.28rem;
    color:#222;
    line-height:0.87rem;
    border-bottom:1px solid #ddd;
}
.panking-top-b .title a{
    font-size:0.2rem;
    color:#989898;
    padding-right: 0.43rem;
    background:url(../img/wel11.png) no-repeat right center;
    background-size:0.11rem auto;
}
.panking-top-list{
    padding:0.2rem 0 0.09rem !important;
}
.panking-top-list .tt{
    width:100%;
}
.panking-top-list .tt .pic{
    width:0.7rem;
    float: left;
    margin-right: 0.3rem;
}
.panking-top-list .tt p{
    font-size:0.24rem;
    color:#d63834;
    width:100%;
    line-height:0.36rem;
}
.panking-top-list .tt span{
    color:#222;
}
.panking-top-list h3{
    font-size:0.24rem;
    color:#989898;
    line-height:0.38rem;
    padding-right: 0.2rem;
    width:66%;
    margin-top: 0.12rem;
    background:url(../img/wel11.png) no-repeat right center;
    background-size:0.11rem auto;
}
.panking-bot{
    width:100%;
    padding:0 0 0;
    position:relative;
}
.panking-bot-tit{
    width:100%;
    background:#fff;
    padding:0 3%;
    border-top:0.15rem solid #f3f5f7;
    z-index: 2;
}
.panking-bot-tit h2{
    font-size:0.28rem;
    color:#222;
    line-height:0.87rem;
    border-bottom:1px solid #ddd;
}
.panking-bot-tit .list{
    width:100%;
    border-bottom:1px solid #ddd;
    line-height:0.87rem;
}
.panking-bot-tit .list li{
    float: left;
    width:25%;
    text-align: center;
    position:relative;
    font-size:0.26rem;
    color:#989898;
    line-height:0.87rem;
}
.panking-bot-tit .list li.hover{
    color:#d63834;
}
.panking-bot-tit .list li.hover:after{
    content:"";
    width:0.73rem;
    height:1px;
    background:#d63834;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -0.36rem;
}
.panking-bot-con{
    width:100%;
    background:#fff;
    padding:0 3%;
    padding-top:0.05rem;
}
.panking-bot-con .lists{
    width:100%;
    display:none;
}
.panking-bot-con .lists li,.subscribe .list li{
    font-size:0.24rem;
    color:#989898;
    line-height:0.79rem;
    float: left;
    width:100%;
    border-top:1px solid #ddd;
}
.panking-bot-con .lists a,.subscribe .list a{
    padding-right: 0.44rem;
    float: left;
    width:100%;
    background:url(../img/wel11.png) no-repeat 95% center;
    background-size:0.11rem auto;
}
.panking-bot-con .lists span,.subscribe .list span{
    float: left;
    font-size:0.24rem;
    color:#989898;
    line-height:0.79rem;
    height:0.79rem;
    overflow:hidden;
}
.panking-bot-con .lists .num{
    width:14%;
    text-align: center;
    font-style: italic;
}
.panking-bot-con .lists .pic,.subscribe .list .pic{
    width:10%;
    height:0.65rem;
    margin-top: 0.09rem;
    margin-right: 3%;
    background-size:cover !important;
}
.panking-bot-con .lists .name{
    width:28%;
}
.panking-bot-con .lists .tb{
    width: 22%;
}
.panking-bot-con .lists .tb-x{
    width:23%;
    color:#d63834;
}
.panking-bot-con .lists li:nth-child(1){
    border-top:none;
}
.panking-bot-con .lists li:nth-child(1) .num{
    color:#d63834;
}
.panking-bot-con .lists li:nth-child(2) .num{
    color:#ffc572;
}
.panking-bot-con .lists li:nth-child(3) .num{
    color:#ffec19;
}
.content-box.bgfff{
    background:#fff;
}
.subscribe .title{
    width:100%;
    font-size:0.28rem;
    color:#222;
    line-height:0.87rem;
}
.subscribe .list .name{
    width:49%;
}
.subscribe .list .tb-x{
    color:#d63834;
}
.panking-record{
    width:100%;
    background:#fff;
}
.personal-record-top{
    width:100%;
    padding:0.2rem 3% 0;
    background:url(../img/pan03.jpg) no-repeat center;
    background-size:cover;
}
.record-to-tit{
    font-size:0.28rem;
    color:#fff;
    line-height:0.46rem;
    text-align: center;
}
.record-to-tit .pic{
    width:0.3rem;
    height:0.26rem;
    background:url(../img/pan04.png) no-repeat center;
    background-size:100% auto;
    margin-right: 0.21rem;
    display: inline-block;
    position: relative;
    top: 0.01rem;
}
.record-to-fonts{
    font-size:1.12rem;
    color:#fff;
    text-align: center;
    line-height:1.24rem;
}
.record-to-fonts span{
    font-size:0.5rem;
}
.record-top-list{
    padding:0.15rem 0 0.05rem;
    border-bottom:1px solid #e8b6b8;
    width:100%;
}
.record-top-list li{
    float: left;
    width:33%;
    text-align: center;
}
.record-top-list li p{
    font-size:0.28rem;
    color:#fff;
    line-height:0.54rem;
}
.record-top-mc{
    width:100%;
    padding-left: 0.81rem;
    background:url(../img/pan05.png) no-repeat 0.1rem center;
    background-size:0.4rem auto;
    font-size:0.28rem;
    color:#fff;
    line-height:0.84rem;
    height:0.84rem;
}
.record-top-mc .subscribe{
    width:1.5rem;
    background:#fff;
    color:#d63834;
    text-align: center;
    border:1px solid #fff;
    line-height:0.56rem;
    margin-top: 0.12rem;
    border-radius:0.1rem;
}
.record-top-mc .subscribe.hover{
    background:none;
    color:#fff;
}
.personal-record-bot{
    padding:0 3%;
    background:#fff;
}
.personal-record-bot .title{
    font-size:0.24rem;
    color:#989898;
    line-height:0.88rem;
    padding-left: 0.09rem;
    border-bottom:1px solid #ddd;
}
.personal-record-bot .title .pic{
    width:0.6rem;
    height:0.6rem;
    border-radius:50%;
    background-size:cover !important;
    margin-right: 0.22rem;
    margin-top: 0.14rem;
}
.personal-record-bot .title .num{
    padding-left: 0.45rem;
    background:url(../img/pan06.png) no-repeat left center;
    background-size:0.23rem auto !important;

}
.personal-record-bot .title .num.hover{
    background:url(../img/pan06_h.png) no-repeat left center;
}
.personal-record-bot .list{
    width:100%;
    line-height:0.88rem;
    border-bottom:1px solid #ddd;
}
.personal-record-bot .list li{
    float: left;
    width:50%;
    text-align: center;
    font-size:0.28rem;
    color:#989898;
    border-bottom:1px solid #fff;
    line-height:0.87rem;
}
.personal-record-bot .list li.hover{
    border-color:#d63834;
    color:#d63834;
}
.panking-record-list{
    background:#fff;
    width:100%;
}
.panking-record-list .lists{
    display: none;
    width:100%;
    background:#f3f5f7;
}
.panking-record-list .lists li{
    width:100%;
    background:#fff;
    padding:0 3%;
    margin-bottom: 0.3rem;
}
.panking-record-list .lists .title{
    padding:0.14rem 0;
    border-bottom:1px solid #ddd;
}
.panking-record-list .lists .tt{
    width:0.82rem;
    height:0.58rem;
    text-align: center;
    line-height:0.58rem;
    padding-right: 0.14rem;
    background-size:100% 100% !important;
    font-size:0.26rem;
    color:#fff;
}
.panking-record-list .lists .tt.up{
    background:url(../img/pan07.png) no-repeat center;
}
.panking-record-list .lists .tt.down{
    background:url(../img/pan08.png) no-repeat center;
}
.panking-record-list .lists .two{
    padding-left: 0.09rem;
    text-align: center;
}
.panking-record-list .lists .two h2{
    font-size:0.26rem;
    color:#222;
    line-height:0.28rem;
    margin-bottom: 0.04rem;
}
.panking-record-list .lists .two p{
    font-size:0.24rem;
    color:#989898;
    line-height:0.26rem;
}
.panking-record-list .lists .three{
    padding-left: 0.5rem;
    font-size:0.28rem;
    line-height:0.58rem;
    color:#222;
}
.panking-record-list .lists .red{
    color:#d63834;
}
.panking-record-list .lists .links{
    text-align: center;
    width:1.1rem;
    height:0.58rem;
    color:#fff;
    border-radius:0.1rem;
    font-size:0.28rem;
    background:#d63834;
}
.panking-record-list .lists .con{
    width:100%;
    padding:0.1rem 0 0.2rem;
}
.panking-record-list .lists dd{
    float: left;
    width:50%;
    font-size:0.28rem;
    color:#989898;
    line-height:0.48rem;
}
.panking-record-list .lists .bb{
    float: left;
    width:50%;
    color:#222;
}
/****²ßÂÔ****/
.stra-banner img{
    width:100%;
}
.strategy-list{
    width:100%;
    background:#fff;
    margin-bottom: 0.15rem;
}
.strategy-list li{
    float: left;
    width:50%;
    text-align: center;
    border-bottom:1px solid #fff;
    line-height:0.6rem;
    font-size:0.3rem;
    color:#222;
}
.strategy-list li.hover{
    border-color:#d63834;
    color:#d63834;
}
.strategy-data .content{
    display: none;
}
.strategy-data .content-top{
    background:#fff;
    width:100%;
    padding:0 2%;
    margin-bottom: 0.15rem;
}
.strategy-data .content-top h2{
    font-size:0.28rem;
    color:#222;
    line-height:0.46rem;
    padding-top: 0.19rem;
}
.strategy-data .content-top dl{
    width:100%;
    padding-bottom: 0.2rem;
}
.strategy-data .content-top dd{
    float: left;
    width:50%;
    font-size:0.24rem;
    color:#989898;
    line-height:0.4rem;
}
.strategy-data .content-top .red{
    color:#d63834;
}
.strategy-data .content-center{
    width:100%;
    font-size:0.28rem;
    color:#222;
    line-height:0.5rem;
    padding:0 3%;
    background:#fff;
}
.strategy-data .content-center .links{
    font-size:0.2rem;
    color:#989898;
    padding-right: 0.52rem;
    background:url(../img/wel11.png) no-repeat right center;
    background-size:0.11rem auto;
}
.strategy-data .none-list{
    width:50%;
    margin:1rem auto 0;
    font-size:0.24rem;
    color:#333;
    text-align: center;
    display: block;
    line-height:0.6rem;
}
.strategy-data .none-list img{
    display: block;
    width:0.8rem;
    margin:0 auto;
}
.strategy-data .content-list{
    width:100%;
    border-top:1px solid #ddd;
}
.strategy-data .content-list li{
    width:100%;
  	border-top: 1px solid #ddd;
}
.strategy-data .content-list .title{
    width:100%;
    background:#fff;
    padding:0 3%;
    font-size:0.3rem;
    line-height:1.02rem;
}
.strategy-data .content-list .title span{
    padding-right: 0.68rem;
    background:url(../img/per16.png) no-repeat right center;
    background-size:0.18rem auto !important;
}
.strategy-data .content-list .title span.red,.strategy-data .content-list dd span.red{
    color:#d63834;
}
.strategy-data .content-list .title span.gree,.strategy-data .content-list dd span.gree{
    color:#5db12a;
}
.strategy-data .content-list .title.hover span{
    background:url(../img/per16_h.png) no-repeat right center;
}
.strategy-data .content-list .con{
    background:#333;
    padding:0.2rem 3% 0.3rem;
    width:100%;
    display: none;
}
.strategy-data .content-list .left{
    width:73%;
    float: left;
}
.strategy-data .content-list dl{
    width:100%;
}
.strategy-data .content-list dd{
    float: left;
    width:33.33%;
    font-size:0.24rem;
    color:#fff;
    line-height:0.43rem;
}
.strategy-data .content-list dd:last-child{
    width:100%;
}
.strategy-data .content-list dd span{
    color:#989898;
}
.strategy-data .content-list .fonts{
    font-size:0.24rem;
    color:#fff;
    margin-top: 0.2rem;
    line-height:0.45rem;
}
.strategy-data .content-list .link{
    width:1.4rem;
    height:0.45rem;
    margin-right: 0.2rem;
    text-align: center;
    line-height:0.45rem;
    padding-right: 0.08rem;
    background-size:100% 100% !important;
    color:#fff;
    font-size:0.2rem;
    float: left;
}
.strategy-data .content-list .link.red{
    background:url(../img/st04.png) no-repeat center;
}
.strategy-data .content-list .link.green{
    background:url(../img/st03.png) no-repeat center;
}
.strategy-data .content-list .fonts span.red{
    color:#d63834;
}
.strategy-data .content-list .fonts span.green{
    color:#5db12a;
}
.strategy-data .content-list .right{
    width:23%;
    float: right;
}
.strategy-data .content-list .right a{
    display: block;
    width:100%;
    margin-bottom: 0.08rem;
    border-radius:0.1rem;
    text-align: center;
    font-size:0.2rem;
    line-height:0.62rem;
}
.strategy-data .content-list .right a.sell-out{
    background:#d63834;
    color:#fff;
}
.strategy-data .content-list .right a.sell-out2{
    background: #999696;
    color:#271c1c;;
}
.strategy-data .content-list .right a.modify{
    border:1px solid #fff;
    color:#989898;
}
.simulation-top{
    width:100%;
    background:#fff;
    padding:0.1rem 3%;
    margin-bottom: 0.3rem;
}
.simulation-top div{
    float: left;
    width:30%;
    font-size:0.2rem;
    line-height:0.44rem;
}
.simulation-top div:nth-child(3),.simulation-top div:nth-child(6){
    width:40%;
}
.simulation-top .co2{
    color:#222;
}
.simulation-top .co8{
    color:#989898;
}
.simulation-top .red{
    color:#d63834;
}
.simulation-top .gree{
    color:#50d2d7;
}
.simulation-bot{
    width:100%;
}
.simulation-bot li{
    display: block;
    background:#fff;
    margin-bottom: 0.3rem;
}
.simulation-bot li a{
    display: block;
    width:100%;
    padding:0 3%;
}
.simulation-bot li .title{
    font-size:0.28rem;
    color:#222;
    line-height:0.64rem;
    padding-right: 0.21rem;
    background:url(../img/wel11.png) no-repeat right center;
    border-bottom:1px solid #ddd;
    background-size:0.11rem auto;
}
.simulation-bot li .title .day{
    font-size:0.24rem;
    color:#989898;
    margin-left: 0.63rem;
}
.simulation-bot li dl{
    width:100%;
    padding:0.17rem 0 0.17rem;
}
.simulation-bot li dd{
    float: left;
    width:25%;
    font-size:0.26rem;
    color:#989898;
    line-height:0.48rem;
}
.strategy_simulation_info{
    width: 100%;
}
.strategy_simulation_info li{
    float: left;
    width:100%;

    background:#fff;
    margin-bottom: 0.3rem;
}
.strategy_simulation_info li .title{
    width:100%;
    padding:0.15rem 3%;
}
.strategy_simulation_info li .con{
    width:100%;
    padding:0.15rem 3%;
    border-top:1px solid #ddd;
}
.strategy_simulation_info li dd{
    float: left;
    width:50%;
    font-size:0.28rem;

    color:#777;
}
.strategy_simulation_info li dd.smallwidth{
    width:45%;
}
.strategy_simulation_info li dd.bigwidth{
    width:55%;
}
.strategy_simulation_info li dd.tt{
    color:#222;
    font-size:0.32rem;
}
.optional-info-list{
    background:#333;
    width:100%;
    padding:0.15rem 0;
}
.optional-info-list ul{
    width:2.42rem;
    border:1px solid #f3f5f7;
    border-radius:0.1rem;
    text-align: center;
    display: block;
    margin:0 auto;
}
.optional-info-list li{
    float: left;
    width:50%;
    text-align: center;
    font-size:0.36rem;

    line-height:0.56rem;
}
.optional-info-list li a{
    display: block;
    width:100%;
    color:#fff;
}
.optional-info-list li.hover{
    background:#f3f5f7;
}
.optional-info-list li.hover a{
    color:#222;
}
.optional-info-tit{
    width:100%;
    padding:0.04rem 3% 0.02rem;
    background:#fff;
}
.optional-info-tit .left{
    margin-right: 0.4rem;
}
.optional-info-tit .left h2{
    font-size:0.28rem;
    color:#222;
    line-height:0.46rem;
}
.optional-info-tit .left p{
    font-size:0.22rem;
    color:#222;
    line-height:0.39rem;
}
.optional-info-tit .center p{
    font-size:0.28rem;
    color:#d63834;
    line-height:0.42rem;
}
.optional-info-tit .info-box{
    width:1.4rem;
    line-height:0.44rem;
    color:#d63834;
    text-align: center;
    border:1px solid #d63834;
    border-radius:0.1rem;
    font-size:0.2rem;
    margin-top: 0.16rem;
}
.optional-info-tit .info-box.hover{
    color:#fff;
    background:#d63834;
}
.optional-info-bb{
    padding:0.3rem 3% 0;
}
.optional-info-bb .title{
    margin-bottom: 0.24rem;
}
.optional-info-bb .title h2{
    font-size:0.28rem;
    color:#000022;
    float: left;
    line-height:0.58rem;
}
.optional-info-bb .title label{
    margin-left:0.2rem;
    background:#fff;
    line-height:0.56rem;
    float: left;
    border:1px  solid #ddd;
    border-radius:0.1rem;
    padding:0 2%;
    position:relative;
}
.optional-info-bb .title span{
    line-height:0.56rem;
    font-size:0.28rem;
    color:#222;
}
.optional-info-bb .title input{
    width:1.5rem;
    height:0.36rem;
    line-height:0.36rem;
    float: left;
    display: block;
    margin-top: 0.1rem;
    border:none;
    font-size:0.28rem;
    color:#222;
    margin-left: 0.1rem;
    z-index:2;
    background: transparent;
    position:relative;
    -webkit-text-fill-color: transparent;
}
.optional-info-bb .title label .ospan{
    display:block;
    width: 1.5rem;
    font-size:0.28rem;
    height:0.36rem;
    line-height:0.36rem;
    color:#222;
    position: absolute;
    z-index:1;
    top:0.1rem;
    left:0.51rem;
}
.optional-info-bb .title p{
    float: left;
    font-size:0.24rem;
    color:#989898;
    line-height:0.56rem;
    margin-left: 0.1rem;
}
.optional-info-bb .con{
    width:100%;
}
.optional-info-bb .tit{
    font-size:0.26rem;
    color:#989898;
    line-height:0.58rem;
    width:19%;
    text-align: right;
}
.optional-info-bb .b-con{
    width:81%;
    float: right;
}
.optional-info-bb .b-con a{
    float: left;
    width:22%;
    margin-left: 3%;
    margin-bottom: 0.3rem;
    background:#fff;
    line-height:0.56rem;
    border:1px solid #989898;
    border-radius:0.1rem;
    text-align: center;
    font-size:0.26rem;
    color:#989898;
}
.optional-info-bb .b-con a.hover{
    border-color:#d63834;
    color:#d63834;
}
.optional-info-linepic{
    width:100%;
    height:0;
    overflow:hidden;
}
.optional-info-linepic .title{
    width:100%;
    text-align: center;
    font-size:0.3rem;
    color:#d63834;
    line-height:0.88rem;
    position:relative;
}
.optional-info-linepic .title:after{
    content:"";
    width:0.8rem;
    height:1px;
    background:#d63834;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -0.4rem;
}
.optional-info-linepic .cont{
    width:100%;
    background:#fff;
    padding:0.2rem 3%;
}
.optional-info-linepic .cont #m-line{
    width:100%;
    height:4rem;
}
.optional-info-ib{
    width:100%;
    background:#fff;
    padding:0 3%;
    margin-bottom: 0.15rem;
}
.optional-info-ib .title{
    width:100%;
    padding:0.05rem 0 0.01rem;
    border-bottom:1px solid #ddd;
}
.optional-info-ib .title h2{
    float: left;
    font-size:0.28rem;
    color:#000022;
    line-height:0.81rem;
    margin-right: 0.35rem;
}
.optional-info-ib .title .box{
    float: left;
}
.optional-info-ib .title h3{
    font-size:0.26rem;
    color:#000022;
    line-height:0.42rem;
}
.optional-info-ib .title p{
    font-size:0.2rem;
    color:#000022;
    line-height:0.39rem;
}
.optional-info-ib .con{
    padding-top: 0.3rem;
    width:100%;
}
.optional-info-ib .con dd{
    float: left;
    width:100%;
    margin-bottom: 0.3rem;
}
.optional-info-ib .con h2{
    font-size:0.26rem;
    color:#000022;
    float: left;
    line-height:0.58rem;
}
.optional-info-ib .con .col{
    color:#989898;
}
.optional-info-ib .con .input-wrapper{
    float: left;
    margin:0 0.2rem;
    border:1px solid #dddddd;
    line-height:0.56rem;
    text-align: center;
    background:#fff;
    border-radius:0.1rem;
    overflow:hidden;
}
.optional-info-ib .con .bbt{
    float: left;
    width:0.46rem;
    height:0.56rem;
    color:#ddd;
    font-size:0.44rem;
    font-style: inherit;
    font-weight: bold;
}
.optional-info-ib .con input{
    width:1.1rem;
    background:#f3f5f7;
    line-height:0.56rem;
    height:0.56rem;
    float: left;
    font-size:0.28rem;
    color:#d63834;
    border:none;
    text-align: center;
  	opacity:1;
}
.optional-info-ib .con input:nth-child(2),.optional-info-ib .con .green{
    color:#5db12a;
}
.optional-info-ib .con p{
    font-size:0.28rem;
    color:#000022;
    float: left;
    line-height:0.58rem;
}
.optional-info-ib .con .red,.optional-info-it .red,.optional-info-bototm .red{
    color:#d63834;
}
.optional-info-it{
    width:100%;
    background:#fff;
    padding:0 3%;
    font-size:0.28rem;
    color:#000022;
    margin-bottom: 0.15rem;
    line-height:0.88rem;
}
.optional-info-bbc{
    width:100%;
    background:#fff;

    margin-bottom: 0.15rem;
}
.optional-info-bbc .title{
    padding:0.11rem 3%;
}
.optional-info-bbc .title h2{
    font-size:0.28rem;
    color:#000022;
    line-height:0.36rem;
}
.optional-info-bbc .title .col{
    color:#989898;
}
.optional-info-bbc .title p{
    font-size:0.2rem;
    color:#989898;
    line-height:0.35rem;
}
.optional-info-bototm{
    padding:0 3% 0.14rem;
    background:#fff;
    width:100%;
}
.optional-info-bototm.mncl{
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
}
.optional-info-bototm h2{
    font-size:0.28rem;
    color:#222;
    line-height:0.84rem;
}

.optional-info-bototm .submit{
    width:100%;
    border:none;
    border-radius:0.1rem;
    text-align: center;
    background:#989898;
    color:#fff;
    font-size:0.28rem;
    display: block;
    line-height:0.58rem;
}
.optional-info-bototm .submit.hover{
    background:#ee6563;
}
.optional-info-bototm label{
    padding-left: 0.44rem;
    background:url(../img/wel13.png) no-repeat left center;
    background-size:0.26rem auto !important;
    font-size:0.2rem;
    color:#989898;
    line-height:0.4rem;
    position:relative;
}
.optional-info-bototm label.check{
    background:url(../img/wel13_h.png) no-repeat left center;
}
.optional-info-bototm label input{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
}


.submit-success {
    position: fixed;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    background: rgba(0,0,0,.8);
    color: #fff;
    z-index: 11;
    margin: -0.5rem 0 0 0;
    font-size: 0.32rem;
    display: none;
}

.optional_packet{
    position: fixed;
    top:0;
    left:100%;
    background: #f3f5f7;
    width:100%;
    height: 100%;
    z-index: 11;
    overflow: auto;
    transition: left 0.5s;
}
.optional_packet.hover{
    left:0;
}
.see-more-b{
    width:0.8rem;
    height: 0.8rem;
    display: block;
    background: url(../img/st02_b.png) no-repeat center;
    background-size: 100% 100%;
    position: fixed;
    bottom: 1.2rem;
    right:3%;
    z-index: 10;
}
.aui-navBar-item{
    position: absolute;
    right:3%;
    color: #fff;
    line-height: 0.44rem;
    height: 0.44rem;
    margin-top: -0.22rem;
    font-size: 0.24rem;
    top:50%;
}

.all-date{
    width:100%;
    /*padding-top: 0.2rem;*/
}
.all-date .date-title{
    width:100%;
    text-align: center;
    position: relative;
    background:#fff;
    font-size:0.38rem;
    color:#333;
    line-height:0.88rem;
    border-bottom:1px solid #eee;
}
/* .all-date .date-title .add{
    display: block;
    width:0.4rem;
    height:0.4rem;
    position: absolute;
    right:3%;
    top:50%;
    margin-top: -0.2rem;
    background:url(../img/d07.png) no-repeat center;
    background-size:100% auto;
}
.all-date .date-title .add.hover{
    background:url(../img/add_h.png) no-repeat center;
    background-size:100% auto;
} */
.all-date .date-center{
    width:100%;
    background:#fff;
    padding:0.1rem 0 0.19rem;
}
.all-date .date-center-top{
    padding-bottom: 0.35rem;
    border-bottom:1px solid #eee;
}
.all-date .date-center-top h1{
    font-size:0.4rem;
    color:#e83a3a;
    font-weight: bold;
    line-height:0.71rem;
    text-align: center;
}
.all-date .date-center-top .red-font{
    text-align: center;
    font-size:0;
    line-height:0.4rem;
    padding-bottom: 0.3rem;
}
.date-center-top .red-font a{
    font-size:0.28rem;
    color:#e83a3a;
    display: inline-block;
    line-height:0.4rem;
    margin:0 0.3rem;
}
.date-center-top .lists{
    width:100%;
    text-align: center;
}
.date-center-top .lists li{
    float: left;
    width:25%;
}
.date-center-top .lists h2{
    font-size:0.28rem;
    color:#333;
    line-height:0.41rem;
}
.date-center-top .lists p{
    font-size:0.24rem;
    color:#999;
    line-height:0.33rem;
}
.date-center .date-lists li{
    float: left;
    width:27%;
    padding-top: 0.19rem;
}
.date-center .date-lists li:nth-child(2n){
   width:38%;
   margin:0 4%;
}
.date-center .date-lists p{
    font-size:0.24rem;
    color:#999;
    line-height:0.43rem;
}
.date-center .date-lists span{
    color:#333;
}
.date-list-title{
    width:100%;
    text-align: center;
    padidng:0 3%;
    background:#fff;
    margin-top: 0.2rem;
    border-bottom:1px solid #eee;
}
/* .personal-title input {
    float: right;
    margin-right: 3%;
    background: none;
    border: none;
    padding: 0;
    font-size: 0.3rem;
    line-height: 0.88rem;
} */
.date-list-title li{
    float: left;
    width:25%;
    font-size:0.28rem;
    color:#333;
    text-align: center;
    position: relative;
    line-height:0.88rem;
}
.date-list-title li:after{
    content: '';
    width:0;
    height:1px;
    background:#e6453d;
    position: absolute;
    bottom:0;
    left:50%;
}
.date-list-title li.hover{
    color:#fe0000;
}
.date-list-title li.hover:after{
    width:40%;
    left:30%;
    transition:all 0.3s;
}

.date-list-con .tts-box{
    margin-top: 0.2rem;
    border-top:0.2rem solid #f3f5f7;
    width:100%;
    padding:0 3%;
}
.date-list-con .tts-box .box{
    float: left;
    text-align: center;
    width:50%;
}
.date-list-con .tts-box .box h2{
    font-size:0.32rem;
    color:#333;
    line-height:0.9rem;
}
.date-list-con .tts-box ul{
    width:100%;
    padding:0 9%;
    border-left:1px solid #eee;
}
.date-list-con .tts-box .box:first-child ul{
    border-left:none;
}
.date-list-con .tts-box li {
    width: 100%;
    color: #279d1b;
    font-size: 0.28rem;
    float: left;
    line-height: 0.5rem;
    text-align: center;
    position: relative;
}
.date-list-con .tts-box .fonts {
    color: #333;
    position: absolute;
    left: 0;
    top: 0;
}
.date-list-con .tts-box .num {
    color: #666;
    position: absolute;
    right: 0;
    top: 0;
}
.date-links{
    position: fixed;
    width:100%;
    background:#fff;
    padding:0.16rem 3%;
    bottom:0;
    left:0;
    z-index:10;
    border-top:1px solid #eee;
}
.date-links a{
    width:50%;
    padding:0.09rem 0;
    text-align: center;
    background:#f2524a;
    color:#fff;
    font-size:0.28rem;
    line-height:0.7rem;
    display: block;
    float: left;
    position: relative;
    border-radius:0 5px 5px 0;
}
.date-links a:first-child{
    border-radius: 5px 0 0 5px;
}
.date-links a:after{
    content: '';
    width:1px;
    height:0.7rem;
    background:#ffb1b1;
    position: absolute;
    left:0;
    top:0.09rem;
}
.date-links a:first-child:after{
    display: none;
}
.pear_news{
    background: url('../img/img_45.png') no-repeat center;
    background-size: 100%;
    padding: 0 3%;
    height: 4.39rem;
    box-sizing: border-box;
}
.pear_news_header{
    text-align: center;
    line-height: 0.89rem;
    font-size: 0.36rem;
    color: #fff;
    position: relative;
}
.pear_news_header a{
    position: absolute;
    top: 0;
    background: url('../img/img_46.png') no-repeat center;
    background-size: 0.36rem;
    height: 100%;
    width: 0.36rem;
    right: 0;
}
.pear_news_work{
    height: 2.31rem;
}
.pear_news_work h2 a{
    display: block;
    color: #fff;
}
.pear_news_work h2{
    font-size: 0.44rem;
    color: #fff;
    text-align: center;
    line-height: 0.54rem;
    padding-top: 0.7rem;
    /* display: none; */
}
.pear_news_logins {
    text-align: center;
}
.pear_news_logins  span{
    font-size: 0.3rem;
    color: #fff;
    line-height: 0.4rem;
    padding-top: 0.15rem;
}
.pear_news_logins p{
    font-size: 0.6rem;
    color: #fff;
    line-height: 0.6rem;
    /* padding-bottom: 0.3rem; */
}
.pear_news_logins a{
    font-size: 0.24rem;
    color: #fff;
    padding-right: 0.33rem;
    background: url('../img/img_47.png') no-repeat right center;
    background-size: 0.11rem;
}
.pear_href{
    text-align: center;
}
.pear_href a{
    display: inline-block;
    font-size: .26rem;
    width: 2.1rem;
    height: 0.6rem;
    box-sizing: border-box;
    border:0.02rem solid transparent;
    border-color: #fff;
    color: #fff;
    text-align: center;
    margin: 0 0.2rem;
}
.pear_href a:first-child{
    color: #fbbe3b;
    border-color: #fbbe3b;
}
.zanwu{
    width: 1.38rem;
    height: 1.08rem;
    background: url('../img/zanwu.png') no-repeat center;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 1.2rem;
    position: relative;
}
.zanwu::after{
    content: "暂无信息";
    position: absolute;
    width: 100%;
    bottom: -0.6rem;
    left: 0%;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.25rem;
}
.m0{
    margin-bottom: 0
}
.loginon{
    background: url('../img/login.png') no-repeat top center;
    background-size: 7.5rem;
    color: #fff;
}
.loginpic{
    background: url('../img/login.png') no-repeat 0 -0.89rem;
    padding-bottom: 1.7rem;
    background-size: 7.5rem;
    margin-bottom: 0.43rem;
    overflow: hidden;
}
.loginpic img{
    display: block;
    max-width: 1.56rem;
    margin: 0 auto;
    margin-top: 1.2rem;
}
.loginon a{
    background: url('../img/loback.png') no-repeat center;
    background-size: 0.2rem
}
.loadings{
            width: 1.7rem;
            height: 0.16rem;
            margin: 0 auto;
            position: relative;
            top:50%;
            margin-top:-0.08rem;
        }
        .loadings span{
            display: inline-block;
            width: 0.15rem;
            height: 100%;
            margin-right: .05rem;
            border-radius: 50%;
            background: #e6453d;
            -webkit-animation: load 1.04s ease infinite;
        }
        .loadings span:last-child{
            margin-right: 0px; 
        }
        @-webkit-keyframes load{
            0%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
        .loadings span:nth-child(1){
            -webkit-animation-delay:0.13s;
        }
        .loadings span:nth-child(2){
            -webkit-animation-delay:0.26s;
        }
        .loadings span:nth-child(3){
            -webkit-animation-delay:0.39s;
        }
        .loadings span:nth-child(4){
            -webkit-animation-delay:0.52s;
        }
        .loadings  span:nth-child(5){
            -webkit-animation-delay:0.65s;
        }
		#forgetcss{
            background: #f2524a;
                width: 94%;
                margin: 0.5rem auto 0;
                text-align: center;
                border: none;
                padding: 0.09rem 0;
                color: #fff;
                line-height: 0.7rem;
                font-size: 0.36rem;
                display: block;
                border-radius: 0.1rem;

            }
            #recharge{
                border: none;
                line-height: 0.54rem;
                height: 0.88rem;
                width: 94%;

            }
		.personal-cash label.ico3 {
              background: #fff url(../img/l09.png) no-repeat 0.31rem center;
          }
.changeUrl{

width: 94%;
margin:0.5rem auto;
    text-align: center;
    background: #f2524a;
    color: #fff;
    font-size: 0.28rem;
    line-height: 0.7rem;
    display: block;
	
    position: relative;
    border-radius:  5px ;
}
.green{color: #279d1b !important;}
.red{color:#e83a3a !important;}
.personal-rechangelist li{
  background:url(../img/jt.png) no-repeat right center !important;
  background-size: 0.11rem auto !important;
}
.rechangecard{
    padding:0.2rem 0 0.5rem 0;
}
.rechangecard .top{
    margin-bottom: 0.2rem;
    background:#fff;
    width: 100%;
}
.rechangecard h2{
    font-size:0.28rem;
    color:#333;
    line-height:0.79rem;
    border-bottom:1px solid #eee;
    padding:0 0.2rem;
}
.rechangecard .top ul{
    display:block;
    padding:0 2%;
}
.rechangecard .top li{
    float: left;
    width:100%;
    border-bottom:1px solid #eee;
    line-height:0.8rem;
}
.rechangecard .top .tit{
    float: left;
    width:1.38rem;
    font-size:0.28rem;
    color:#999;
    line-height:0.8rem;
    height:0.8rem;
}
.rechangecard .top .con{
    float: left;
    width:65%;
    font-size:0.28rem;
    color:#333;
    line-height:0.8rem;
    height:0.8rem;
}
.rechangecard .top .copy{
    float: right;
    font-size:0.24rem;
    color:#e6453d;
}
.rechangecard .bot{
    background:#fff;
    width:100%;
    padding-bottom: 0.3rem;
}
.rechangecard .bot label{
    width: 7.1rem;
    border-top:1px solid #eee;
    line-height:0.88rem;
    display:block;
    margin:0 auto;
}
.rechangecard .bot .tit{
    float: left;
    width:1.38rem;
    font-size:0.28rem;
    color:#333;
    line-height:0.8rem;
    height:0.8rem;
}
.rechangecard .bot input[type="text"],.rechangecard .bot .con{
    float: left;
    width:60%;
    font-size:0.28rem;
    color:#666;
    line-height:0.8rem;
    height:0.8rem;
    border:none;
    display:block;
  text-align:left
}
.rechangecard .bot input[type="button"]{
    float: right;
    font-size:0.24rem;
    color:#e6453d;
    padding:0;
    margin:0;
    background:none;
    border:none;
    display:block;
    line-height:0.8rem;
    height:0.8rem;
}
.rechangecard .bot label.file-b .tit{
    width:100%;
    float: none;
}
.rechangecard .bot label:nth-child(2){
border-top:none}
.rechangecard .bot .file-box{
    width: 4rem;
    height:2.85rem;
    display:block;
    background:url(../img/img00.jpg) no-repeat center;
    background-size:100% auto;
    position: relative;
    overflow:hidden;
    margin:0 auto;
}
.rechangecard .bot img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
}
.rechangecard .bot input[type="file"]{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    filter:alpha(opacity=0);
}
.rechangecard .bot input[type="submit"]{
    width: 7.1rem;
    display:block;
    margin:0.4rem auto;
    font-size:0.28rem;
    color:#fff;
    background:#e6453d;
    border:none;
    text-align: center;
    line-height:0.88rem;
}
.rechangecard .bot .ts-box{
    width:7.1rem;
    margin:0 auto;
}
.rechangecard .bot .ts-box h3{
    font-size:0.28rem;
    color:#e6453d;
    line-height:0.42rem;
}
.rechangecard .bot .ts-box p{
    font-size:0.24rem;
    color:#e6453d;
    line-height:0.4rem;
}
.rechangecard .apply-picture{
    width: 2.7rem;
    display:block;
    margin:0.3rem auto;
}
.rechangecard .apply-picture img{
    max-width:100%;
}
.personal-rechangelist li a{
    padding-left: 0.63rem;
    background-size:0.44rem auto !important;
}
.personal-rechangelist li:nth-child(1) a{
    background:url(../img/img01.png) no-repeat left center;
}
.personal-rechangelist li:nth-child(2) a{
    background:url(../img/img02.png) no-repeat left center;
}
.personal-rechangelist li:nth-child(3) a{
    background:url(../img/img03.png) no-repeat left center;
}