<header class="f-cb">
    <div class="w94 header-top">
        <a href="/index/center/personal_opation.html" class="fl"><img src="/public/static/img/img_1.png" alt=""></a>
           策略2.0
		<a href="/index/index/information.html" class="fr"><img src="/public/static/img/img_2.png" alt=""></a>
    </div>
</header>

<script>
	
    $(function(){
        
        var intro = $('header').parent(".includeDom").data('intro');
        // if (intro == "scroll") {
        //     $(window).load(function() {
        //         var heih = $(".banner").height();
        //         $(window).scroll(function () {
        //             if($(window).scrollTop() > heih){
        //                 $('header').addClass('active')
        //             }else{
        //                 $('header').removeClass('active')
        //             }
        //         })
        //     });
        // }else{
        //     $('header').addClass('active')
        // }



        // $("#search").focus(function(){

        //     window.location.href='/index/strategy/search_stock';

        // })




        //搜索
        // $("#search").keyup(function(){
        //     $('#header-search').fadeIn(500);
        //     setTimeout(function(){
        //         $('#header-search li').each(function(){
        //             var index = $(this).index();
        //             $(this).delay(index *100).animate({left:0,opacity:1},300);
        //         })
        //     },300)

        // })
    })
</script>