<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
         
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>我的红包</title>
        <link href="/public/static/img/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="/public/static/css/reset.css">
        <link rel="stylesheet" href="/public/static/css/style.css">
        <link rel="stylesheet" href="/public/static/css/search.css">
        <link rel="stylesheet" href="/public/static/awesome/css/font-awesome.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/public/static/js/vue.js"></script>
        <style>body{background: #f3f5f7;}</style>
        <script src="/public/static/js/jquery-1.11.3.js"></script>
        <script src="/public/static/js/html5.js"></script>
        <script src="/public/static/js/adaptive-version2.js"></script>
        <script src="/public/static/js/jquery.easing.1.3.js"></script>
        <script src="/public/static/js/jquery.transit.js"></script>
        <script src="/public/static/js/jquery.lazyload.js"></script>
    </head>
    <body>
        <div class="content-box">
            <div class="vouchers-title guide-top">
                <a href="javascript:history.back(-1);" class="back"><i class="fa fa-angle-left"></i></a>
                我的红包
                <!-- <a href="/index/center/use_info.html">使用规则</a> -->
            </div>
            <div class="vouchers_activity" id="app">
                <ul class="w94">
                    <li class="prepare f-cb" v-for="(item,index) in list" v-cloak @click="prepare(item)">
                        <div class="caopan">
                            <img src="/public/static/img/money.png"><h2 v-cloak>{{item.packet_money}}</h2>
                            <p v-cloak>{{item.packet_name}}</p>
                        </div>
                        <div class="goto">红  包</div>
                        <div class="suit" v-cloak>到期时间:{{item.daoqi_time}}</div>
                    </li>
                    <!-- <li class="already f-cb">
                         <div class="caopan">
                            <img src="/public/static/img/money_gray.png"><h2>3000</h2>
                            <p>操盘券</p>
                        </div>
                        <div class="goto">已 过 期</div>
                        <div class="suit">适用于5个交易日</div>
                    </li> -->
                </ul>
            </div>
        </div>
        <!-- <div class="includeDom" include="inc/footer.html" data-id="3"></div> -->
        <div class="includeDom"  data-id="4">
            {include file="index/inc/footer" /}
        </div>
        <script src="/public/static/js/main.js"></script>
        <script>
        new Vue({
            el:'#app',
            data() {
                return {
                    list:[]
                };
            },
            mounted() {
                this.redPacketList()
            },
            methods: {
                redPacketList(){
                    let _this =this;
                    axios.post('/api/mobile/redPacketList',account)
                    .then(function (res) {
                        if(res.data.status=='1'){
                            _this.list = res.data.list
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                prepare(item){
                    localStorage.setItem("packet",JSON.stringify({id:item.packet_id,money:item.packet_money,packet_name:item.packet_name}))
                    window.location.href = document.referrer;
                }
            }
        })
        </script>
    </body>
</html>