<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
     
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>用户反馈</title>
    <link href="/public/static/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/public/static/css/reset.css">
    <link rel="stylesheet" href="/public/static/css/style.css">
    <link rel="stylesheet" href="/public/static/css/personal_opation_list.css">
    <link rel="stylesheet" href="/public/static/awesome/css/font-awesome.css">
    <script src="/public/static/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/static/js/jquery-1.11.3.js"></script>
    <script src="/public/static/js/html5.js"></script>
    <script src="/public/static/js/adaptive-version2.js"></script>
    <script src="/public/static/js/jquery.easing.1.3.js"></script>
    <script src="/public/static/js/jquery.transit.js"></script>
    <script src="/public/static/js/jquery.lazyload.js"></script>
</head>

<body>
    <!-- <div class="includeDom" include="inc/header.html" data-intro="index"></div> -->
    <div class="content-box data">
        <div id="infoheader" class="guide-top personal-title">
            <a href="javascript:history.back(-1);" class="back" style="display:block"></a>
            用户反馈
            <div style="position: absolute; top: 0px; right: 3%;font-size:.3rem">
                <div onclick="window.location.href='/index/center/personal_opation.html'" class="price-search">反馈</div>
            </div>
        </div>
      	<div id="app">
            <div v-if="list==[]" class="zanwu"></div>
            <div v-else>   
                <ul class="w94 opation_list">
                    <li v-for="(item,index) in list" v-cloak>
                        <h2>反馈信息 <span v-cloak>{{item.question.create_time}}</span></h2>
                        <p v-cloak>{{item.question.content}}</p>
                        <h3 v-if="item.list==[]"><span v-cloak>客服：{{item.list.content}}</span></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="submit-success" style="display: none;"></div>
    <!--  <div class="includeDom" include="inc/footer.html" data-id="3"></div> -->
    <div class="includeDom" data-id="4">
        {include file="index/inc/footer" /}
    </div>
    <script src="/public/static/js/main.js"></script>
    <script src="/public/static/js/jquery.cookie.js"></script>
    <script>
    new Vue({
        el:'#app',
        props: {
        },
        data:function() {
            return {
                list:[]
            };
        },
        computed: {
        },
        mounted:function() {
            this.feedbackList();
        },
        methods: {
            feedbackList(obj){
                    let _this = this;
                    axios.post('/api/mobile/feedbackList/account/'+account.account)
                    .then(function (res) {
                        if(res.data.status =='1'){
                            _this.list = res.data.list
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
        },
    })
    </script>
</body>

</html>