<link rel="stylesheet" href="/public/static/awesome/css/font-awesome.css">
<header>
    <a href="javascript:history.back(-1);" class="back"><i class="fa fa-angle-left"></i></a>
    <div class="trader-header">
            创建策略
        <!--<a href="/index/trade/simulation.html">炒股大赛</a>-->
    </div>
    <div class="trade_money">
        <div class="trade_money_add f-cb">
            <div class="trad_m_add_left">
                <p>总市值</p>
                <h2 v-cloak>{{zsz}}</h2>
            </div>
            <a href="/index/center/personal_recharge.html">充值</a>
        </div>
        <ul class="f-cb">
            <li>
                <h2>浮动盈亏</h2>
                <p v-cloak>{{fdyk}}</p>
            </li>
            <li>
                <h2>信用金</h2>
                <p v-cloak>{{para.frozen_money=='null'?'0':para.frozen_money}}</p>
            </li>
            <li>
                <h2>可用资金</h2>
                <p v-cloak>{{para.can_money=='null'?'0':para.can_money}}</p>
            </li>
        </ul>
    </div>
    <ul class="trade-href ">
        <li>
            <a href="/index/index/optional_search.html">
                <img src="/public/static/img/img_27.png" alt="">
                <p>创建策略</p>
            </a>
        </li>
        <li>
            <a href="/index/center/personal_water.html">
                <img src="/public/static/img/img_28.png" alt="">
                <p>资金记录</p>
            </a>
        </li>
        <li>
            <a href="/index/center/personal_celuewater.html">
                <img src="/public/static/img/img_29.png" alt="">
                <p>交易记录</p>
            </a>
        </li>
        <li>
            <a href="/index/center/personal_cash.html">
                <img src="/public/static/img/img_30.png" alt="">
                <p>提现</p>
            </a>
        </li>
    </ul>
</header>
