{foreach name="shuzu.dasai.list" item="vo" key="key"}
<li>
    <div class="title f-cb">{$vo.stock_name}（{$vo.stock_code}）
        {if condition="$vo.fudong >= 0"}
        <span class="fr red">{$vo.fudong}</span>
        {else /}
        <span class="fr gree">{$vo.fudong}</span>
        {/if}
    </div>
    <div class="con f-cb">
        <div class="left">
            <dl class="f-cb">
                <dd>信用金 <span>{$vo.credit}</span></dd>
                <dd>买入价 <span>{$vo.buy_price}</span></dd>
                <dd>止盈 <span class="red">{$vo.surplus_value}</span></dd>
                <dd>股票数 <span>{$vo.stock_number}</span></dd>
                <dd>现价　<span class="red"> {$vo.nowprice}</span></dd>
                <dd>止损 <span>{$vo.loss_value}</span></dd>
                <dd>买入时间 <span>{$vo.buy_time}</span></dd>
            </dl>
            {if condition="$vo.fudong >= 0"}
            <div class="fonts"><a href="javascript:;" class="link red">当前盈利</a>上涨<span class="red">{$vo.chajia}</span>元即将到触发止盈</div>
            {else /}
            <div class="fonts"><a href="javascript:;" class="link green">当前止损</a>下跌<span class="green">{$vo.chajia}</span>元即将到触发止损</div>
            {/if}
        </div>
        <div class="right">
            {if condition="$vo.cansell == 1"}
            <a href="javascript:;" id="sellcontest" data-id="{$vo.id}" class="sell-out">{$vo.font}</a>
            {else /}
            <a href="javascript:;" class="sell-out">{$vo.font}</a>
            {/if}
            <a href="javascript:;" class="modify">修改止损</a>
        </div>
    </div>
</li>
{/foreach}