<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
         
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>高手推荐</title>
        <link href="/public/static/img/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="/public/static/css/reset.css">
        <link rel="stylesheet" href="/public/static/css/style.css">
        <link rel="stylesheet" href="/public/static/css/trade.css">
        <link rel="stylesheet" href="/public/static/awesome/css/font-awesome.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/public/static/js/vue.js"></script>
        <script src="/public/static/js/jquery-1.11.3.js"></script>
        <script src="/public/static/js/html5.js"></script>
        <script src="/public/static/js/adaptive-version2.js"></script>
        <script src="/public/static/js/jquery.easing.1.3.js"></script>
        <script src="/public/static/js/jquery.transit.js"></script>
        <script src="/public/static/js/jquery.lazyload.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="guide-top ">
                <a href="javascript:history.back(-1);" class="back"><i class="fa fa-angle-left"></i></a>
                高手推荐
            </div>
            <div>   
                <h2 class="expert f-cb">
                    <p class="opacity">11</p>
                    <p>账户名</p>
                    <p class='monthlv'>月收益率</p>
                    <p class="month">月胜率</p>
                </h2>
                <div>
                    <div class="zanwu" v-if="list.length=='0'"></div>
                    <ul v-else class="rank-list" > 
                        <li v-for="(item,index) in list" :key="index" v-cloak>
                            <a :href="'/index/trade/info.html?id='+item.id+'&trues='+item.trues+'&aid='+item.aid" v-cloak>
                                <img :src="item.headurl" alt="">
                                {{item.nick_name}}
                                <p class="list-monrh" v-cloak>{{item.profit}}</p>
                                <p v-cloak><span>{{item.win}}</span></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="includeDom"  data-id="2">
            {include file="index/inc/footer" /}
        </div>
        <div class="loading">
            <img src="/public/static/img/logo.png" alt="" class="logo">
        </div>
        <script src="/public/static/js/main.js"></script>
     
        <script>
        new Vue({
            el:'#app',
            data() {
                return {
                    list:[]
                };
            },
            mounted() {
                this.redPacketList()
            },
            methods: {
                redPacketList(){
                    let _this =this;
                    axios.post('/api/mobile/rankingList',account)
                    .then(function (res) {
                        if(res.data.status=='1'){
                            _this.list = res.data.list.month
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
            }
        })
        </script>
    </body>
</html>