<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
         
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>持仓策略</title>
        <link href="/public/static/img/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="/public/static/css/reset.css">
        <link rel="stylesheet" href="/public/static/css/style.css">
        <link rel="stylesheet" href="/public/static/css/trade.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/public/static/js/vue.js"></script>
        <script src="/public/static/js/jquery-1.11.3.js"></script>
        <script src="/public/static/js/html5.js"></script>
        <script src="/public/static/js/adaptive-version2.js"></script>
        <script src="/public/static/js/jquery.easing.1.3.js"></script>
        <script src="/public/static/js/jquery.transit.js"></script>
        <script src="/public/static/js/jquery.lazyload.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="includeDom"  data-id="0">
                {include file="trade/inc/header" /}
            </div>
            <ul class="trade-coll ">
                <li class="on">持仓策略</li>
                <li>历史策略</li>
            </ul>
            <div class="w94 trade-collspace">
                <div class="hides">
                   <ul v-if="list.length=='0'" class="hiddesd">
                       <div class="zanwu"></div>
                   </ul>
                    <ul v-else>
                        <li v-for="(item,index) in list " :key="index" @click="show($event)" v-cloak>
                            <a href="javascript:;">
                                <h2 v-cloak>{{item.stock_name}}({{item.stock_code}}) <p>{{item.buy_time}}</p></h2>
                                <dl>
                                    <dd>
                                        <span v-cloak :class="((item.nowprice - item.buy_price)*item.stock_number).toFixed(0) < '0'?'green':'red'">{{((item.nowprice  - item.buy_price)*item.stock_number).toFixed(0)}}</span>
                                        <i>浮动盈亏</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{item.stock_number }}</span>
                                        <i>交易股数</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{item.credit }}</span>
                                        <i>信用金</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{(item.stock_number * item.nowprice).toFixed(0)}}</span>
                                        <i>持仓市值</i>
                                    </dd>
                                </dl>
                                <div class="trade-hide">
                                    <ol>
                                        <li>买入: <span v-cloak>{{item.buy_price }}</span> </li>
                                        <li>现价: <span v-cloak>{{item.nowprice}}</span> </li>
                                        <li>止盈: <span :class="item.surplus_value < '0'?'green':'red'" v-cloak>{{item.surplus_value}}</span></li>
                                        <li>止损: <span :class="item.loss_value < '0'?'green':'red'" v-cloak>{{item.loss_value}}</span></li>
                                    </ol>
                                    <div class="">   
                                         <i :class="((item.nowprice  - item.buy_price)*item.stock_number).toFixed(0) <= '0'?'on':''">{{((item.nowprice  - item.buy_price)*item.stock_number).toFixed(0)<= '0'?'当前亏损 ':'当前盈利'}}</i>
                                        <p>{{((item.nowprice  - item.buy_price)*item.stock_number).toFixed(0)<='0'?'下跌':'上涨'}}
                                       		 <span>
                                                <span class="red" v-if="((item.nowprice  - item.buy_price)*item.stock_number).toFixed(0) > 0">{{(item.surplus_value - item.nowprice).toFixed(2) }}</span>
                                                <span class="green" v-else>{{(item.nowprice - item.loss_value).toFixed(2)}}</span>
                                            </span>
                                            元即将到触发<span>{{((item.nowprice  - item.buy_price)*item.stock_number).toFixed(0) <= 0?'止损 ':'止盈'}}</span></p>
                                        <b @click="bucang(item)">追加信用金</b>
                                    </div>
                                    <p class="cell-center">
                                        <span class="sell" @click="sell(item)">卖出</span>
                                        <!--<span class="automac" @click="automac(item)" v-if="item.defer=='2'">自动递延</span>-->
                                      	<span class="automac" @click="automac(item)">修改止盈</span>
                                        <span class="modify" @click="modify(item)">修改止损</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hides">
                    <ul v-if="history.length=='0'" class="hiddesd">
                       <div class="zanwu"></div>
                    </ul>
                    <ul v-else>
                        <li v-for="(item,index) in  history" v-cloak  :key="index">
                            <a :href="'/index/trade/trade_hold_info_two.html?id='+item.id">
                                <h2 v-cloak>{{item.stock_name}}({{item.stock_code}}) <p>{{item.buy_time}}</p></h2>
                                <dl>
                                    <dd>
                                        <span v-cloak :class="((item.sell_price - item.buy_price)*item.stock_number).toFixed(0) < '0'?'green':'red'">{{((item.sell_price - item.buy_price)*item.stock_number).toFixed(0)}}</span>
                                        <i>浮动盈亏</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{item.stock_number }}</span>
                                        <i>交易股数</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{item.credit }}</span>
                                        <i>信用金</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{(item.stock_number * item.sell_price).toFixed(0)}}</span>
                                        <i>卖出市值</i>
                                    </dd>
                                </dl>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <!-- 卖出 -->
            <div class="shade" v-show="openMai">
                <div class="shade-work">
                    <i>提示</i>
                    <p v-cloak>{{maichu}}</p>
                    <div>
                        <button @click="openMai=!openMai">取消</button>
                        <button @click="closeMai">确定</button>
                    </div>
                </div>
            </div>
            <!-- 修改止盈 -->
            <div class="shade" v-show="openDi">
                <div class="shade-work">
                        <i>修改止盈</i>
                    <p><i>￥</i><input type="text" v-model="surplus_value" placeholder="输入止盈价" v-cloak></p>
                     <span v-cloak>请输入{{nowprice}}元~{{(nowprice*1.5).toFixed(2)}}元之间金额</span>
                    <div>
                        <button @click="openDi=!openDi">取消</button>
                        <button @click="closeDi">确定</button>
                    </div>
                </div>
            </div>
            <!-- 修改止损 -->
            <div class="shade" v-show="openZhi">
                <div class="shade-work" style="top:40%">
                        <i>修改止损</i>
                    <p><i>￥</i><input type="text" v-model="loss_value" placeholder="输入止损价" v-cloak></p>
                  	<span v-cloak>请输入{{min}}元~{{max}}元之间金额</span>
                    <div>
                        <button @click="openZhi=!openZhi">取消</button>
                        <button @click="closeZhi">确定</button>
                    </div>
                </div>
            </div>
            <!-- 补仓 -->
            <div class="shade" v-show="openBu">
                <div class="shade-work" >
                        <i>追加信用金</i>
                        <p><i>￥</i><input type="text" v-model="credit_add" placeholder="输入追加金额" v-cloak></p>
                    <div>
                        <button @click="openBu=!openBu">取消</button>
                        <button @click="closeBu">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="includeDom"  data-id="2">
            {include file="index/inc/footer" /}
        </div>
        <script src="/public/static/js/main.js"></script>
        <script>
            $(function() {
                $(".trade-coll li").click(function(){
                    let index = $(this).index()
                    $(this).addClass("on").siblings().removeClass("on")
                    $(".trade-collspace ul").eq(index).fadeIn(0).parents(".hides").siblings(".hides").find("ul").fadeOut(0)
                })
                $(".trade-collspace .hides ul").eq(0).fadeIn(0);
                $(".shade").css("left","0")
            })
            new Vue({
            el:'#app',
            props: {
            },
            data() {
                return {
                    money:"0.00",
                    list:[],
                    openMai: false,
                    openDi:false,
                    openZhi:false,
                    openBu:false,
                    maichu:"",
                    loss_value:'',
                    history:[],
                    id:'',
                    credit_add:'',
                    para:{},
                    zsz:'',
                    fdyk:"",
                    max:'',
                    allow_kuisun:'',
                    min:"",
                  	surplus_value:"",
                  	nowprice:"",
                  number:0
                };
            },
            
            mounted() {
                this.checkStrategy();
                this.checkStrategyHistory();
              	this.hide()
            },
            methods: {
                // 看持仓中的策略
                checkStrategy(){
                    let _this = this;
                    axios.post('/api/mobile/checkStrategy',account)
                    .then(function (res) {
                        if(res.data.status =='1'){
                            _this.list = res.data.list;
                            let zszd=0,fdykd=0;
                            for (let index = 0; index < res.data.list.length; index++) {
                                const element = res.data.list[index];
                                zszd+=(element.buy_price)*(element.stock_number) 
                                fdykd+=((element.nowprice  - element.buy_price)*element.stock_number);
                            }
                            _this.zsz=zszd.toFixed(0)
                            _this.fdyk=fdykd.toFixed(2) 
                            _this.para = res.data.para;
                          if(_this.number==0){
                          	 setTimeout(function(){
                    		$(".trade-collspace .hides ul").eq(0).fadeIn(0)
                   			 $(".trade-collspace ul>li").eq(0).addClass("on").find(".trade-hide").slideDown(200)
               				},900)
                            _this.number= _this.number+1
                          }
                          
                
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    setTimeout(() => {
                        this.checkStrategy()
                    }, 5000);
                },
                 // 历史策略
                 checkStrategyHistory(){
                    let _this = this;
                    axios.post('/api/mobile/checkStrategyHistory',account)
                    .then(function (res) {
                        if(res.data.status =='1'){
                            _this.history = res.data.list
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                show(e){
                    $(e.currentTarget).addClass("on").find(".trade-hide").slideDown(200).parents("li").siblings("li").removeClass("on").find(".trade-hide").slideUp(200)
                },
                // 卖出
                sell(item){
                    this.maichu = "是否卖出"+item.stock_name+item.stock_code+"?";
                    this.openMai = !this.openMai;
                    this.id = item.id;
                },
                // 自动延期 修改止盈
                automac(item){
                   // this.maichu="是否自动递延"+item.stock_name+item.stock_code+"?";
                    this.openDi =!this.openDi;
                  	this.nowprice = item.nowprice
                    this.id = item.id
                },
                // 修改止损
                modify(item){
                    this.openZhi =!this.openZhi;
                    this.id = item.id;
                    this.max = item.nowprice;
                    this.min = ( (item.buy_price * item.stock_number - item.credit *this.allow_kuisun) / item.stock_number).toFixed(2)
                },
                // 补仓
                bucang(item){
                    this.openBu =!this.openBu;
                    this.id = item.id;
                   
                },
                // 卖出确定
                closeMai(){
                    let _this = this;
                    axios.post('/api/mobile/sellStrategy',Object.assign(account,{id:_this.id}))
                    .then(function (res) {
                        alert(res.data.msg)
                        _this.openMai = !_this.openMai;
                        if(res.data.status =='1'){
                            //_this.checkStrategy()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                // 自动延期 修改止盈
                closeDi(){
                   if(this.surplus_value==''){
                        alert("请填写止盈价！")
                        return false;
                    }

                    if(  parseFloat(this.surplus_value) >= parseFloat(this.nowprice) && parseFloat(this.surplus_value) <= parseFloat(this.nowprice*1.5).toFixed(2)){
                    }else{
                        alert("请输入中间金额！")
                        return false;
                    }
                    let _this = this;
                    axios.post('/api/mobile/update_surplus_value',Object.assign(account,{id:_this.id,surplus_value:this.surplus_value,trues:1}))
                    .then(function (res) {
                        alert(res.data.msg)
                            _this.openDi = !_this.openDi;
                        if(res.data.status =='1'){
                           
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                // 修改止损
                closeZhi(){
                    if(this.loss_value==''){
                        alert("请填写止损价！")
                        return false;
                    }
                    if( parseFloat(this.min) <= parseFloat(this.loss_value) && parseFloat(this.loss_value) <= parseFloat(this.max)){
                    }else{
                        alert("请输入中间金额！")
                        return false;
                    }
                    let _this = this;
                    let obj = {account:account.account,id:_this.id,loss_value:_this.loss_value,trues:1}
                    axios.post('/api/mobile/updateLossValue',obj)
                    .then(function (res) {
                        alert(res.data.msg)
                            _this.openZhi = !_this.openZhi;
                        if(res.data.status =='1'){
                           
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                // 追加信用金
                closeBu(){
                    if(this.credit_add==''){
                        alert("请填写补仓价！")
                        return false;
                    }
                    let _this = this;
                    let objs = {account:account.account,str_id:_this.id,credit_add:_this.credit_add}
                    axios.get('/api/mobile/credit_add',{params:objs})
                    .then(function (res) {
                        alert(res.data.msg)
                        _this.openBu = !_this.openBu;
                        if(res.data.status =='1'){
                            _this.checkStrategy()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                hide(){
                    let _this = this;
                    axios.post('/api/mobile/hide',account)
                    .then(function (res) {
                        if(res.data.status =='1'){
                            _this.allow_kuisun = res.data.list.allow_kuisun
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
                
            }
        })
        </script>
    </body>
</html>
