<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
         
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>炒股大赛</title>
        <link href="/public/static/img/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="/public/static/css/reset.css">
        <link rel="stylesheet" href="/public/static/css/style.css">
        <link rel="stylesheet" href="/public/static/css/trade.css">
        <link rel="stylesheet" href="/public/static/awesome/css/font-awesome.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/public/static/js/vue.js"></script>
        <script src="/public/static/js/jquery-1.11.3.js"></script>
        <script src="/public/static/js/html5.js"></script>
        <script src="/public/static/js/adaptive-version2.js"></script>
        <script src="/public/static/js/jquery.easing.1.3.js"></script>
        <script src="/public/static/js/jquery.transit.js"></script>
        <script src="/public/static/js/jquery.lazyload.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
                <div class="trader-header guide-tapp">
                        <a href="javascript:history.back(-1);" class="back"><i class="fa fa-angle-left"></i></a>
                        炒股大赛
                        <!--<a href="/index/trade/index.html">创建策略</a>-->
                    </div>
                    <div class="trade_money">
                        <div class="trade_money_add f-cb">
                            <div class="trad_m_add_left">
                                <p>总市值</p>
                                <h2 v-cloak>{{zsz}}</h2>
                            </div>
                            <a href="/index/trade/subdy.html">我的订阅</a>
                        </div>
                        <ul class="f-cb">
                            <li>
                                <h2>浮动盈亏</h2>
                                <p v-cloak>{{fdyk}}</p>
                            </li>
                            <li>
                                <h2>信用金</h2>
                                <p v-cloak>{{para.frozen_money}}</p>
                            </li>
                            <li>
                                <h2>可用资金</h2>
                                <p v-cloak>{{para.can_money}}</p>
                            </li>
                        </ul>
                    </div>
                    <ul class="trade-href on">
                        <li>
                            <a href="/index/index/optional_search_trade.html">
                                <img src="/public/static/img/img_27.png" alt="">
                                <p>创建策略</p>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="">
                                <img src="/public/static/img/img_28.png" alt="">
                                <p>资金记录</p>
                            </a>
                        </li> -->
                        <li>
                            <a href="/index/trade/rank.html">
                                <img src="/public/static/img/img_33.png" alt="">
                                <p>高手排行</p>
                            </a>
                        </li>
                        <li>
                            <a href="/index/trade/experts.html">
                                <img src="/public/static/img/img_34.png" alt="">
                                <p>高手推荐</p>
                            </a>
                        </li>
                    </ul>
            <ul class="trade-coll ">
                <li class="on">持仓策略</li>
                <li>模拟记录</li>
            </ul>
            <div class="w94 trade-collspace">
                <div class="hides">
                    <ul v-if="list.length=='0'" class="hiddesd">
                        <div class="zanwu"></div>
                    </ul>
                    <ul v-else>
                        <li v-for="(item,index) in list " v-cloak :key="index" @click="show($event)">
                            <a href="javascript:;">
                                <h2 v-cloak>{{item.stock_name}}({{item.stock_code}}) <p>{{item.buy_time}}</p></h2>
                                <dl>
                                    <dd>
                                        <span v-cloak :class="((item.nowprice  - item.buy_price)*item.stock_number).toFixed(0) < '0'?'green':'red'">{{((item.nowprice  - item.buy_price)*item.stock_number).toFixed(0)}}</span>
                                        <i>浮动盈亏</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{item.stock_number }}</span>
                                        <i>交易股数</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{item.credit }}</span>
                                        <i>信用金</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{(item.stock_number * item.nowprice).toFixed(0)}}</span>
                                        <i>持仓市值</i>
                                    </dd>
                                </dl>
                                <div class="trade-hide">
                                    <ol>
                                        <li>买入: <span v-cloak>{{item.buy_price }}</span> </li>
                                        <li>现价: <span v-cloak>{{item.nowprice}}</span> </li>
                                        <li>止盈: <span :class="item.surplus_value < '0'?'green':'red'" v-cloak>{{item.surplus_value}}</span></li>
                                        <li>止损: <span :class="item.loss_value < '0'?'green':'red'" v-cloak>{{item.loss_value}}</span></li>
                                    </ol>
                                    <div class="">   
                                        <i :class="((item.nowprice - item.buy_price)*item.stock_number).toFixed(0) <= '0'?'on':''">{{((item.nowprice - item.buy_price)*item.stock_number).toFixed(0)<='0'?' 当前亏损':' 当前盈利'}}</i>
                                        <p>{{((item.nowprice - item.buy_price)*item.stock_number).toFixed(0)<='0'?'下跌':'上涨'}}
                                            <span>
                                                <span class="red" v-if="((item.nowprice - item.buy_price)*item.stock_number).toFixed(0)>0">{{(item.surplus_value - item.buy_price).toFixed(2) }}</span>
                                                <span class="green" v-else>{{(item.nowprice - item.loss_value).toFixed(2)}}</span>
                                            </span>
                                            元即将到触发{{((item.nowprice  - item.buy_price)*item.stock_number).toFixed(0) <= 0?'止损 ':'止盈'}}</span></p>
                                        <!-- <b @click="bucang(item)">补仓</b> -->
                                    </div>
                                    <p class="cell-center">
                                        <span class="sell" @click="sell(item)">卖出</span>
                                        <!-- <span class="automac" @click="automac(item)" v-if="item.defer=='1'">自动递延</span> -->
                                      	<span class="automac" @click="automac(item)">修改止盈</span>
                                        <span class="modify" @click="modify(item)">修改止损</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hides">
                    <ul v-if="history.length=='0'" class="hiddesd"><div class="zanwu"></div></ul>
                    <ul v-else>
                        <li v-for="(item,index) in  history" v-cloak :key="index">
                            <a :href="'/index/trade/trade_hold_info.html?id='+item.id+'&trade=1'">
                                <h2 v-cloak>{{item.stock_name}}({{item.stock_code}}) <p>{{item.buy_time}}</p></h2>
                                <dl>
                                    <dd>
                                        <span v-cloak :class="((item.sell_price - item.buy_price)*item.stock_number).toFixed(0) < '0'?'green':'red'">{{((item.sell_price - item.buy_price)*item.stock_number).toFixed(0)}}</span>
                                        <i>交易盈亏</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{item.stock_number }}</span>
                                        <i>交易股数</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{item.credit }}</span>
                                        <i>信用金</i>
                                    </dd>
                                    <dd>
                                        <span v-cloak>{{(item.stock_number * item.sell_price).toFixed(0)}}</span>
                                        <i>卖出市值</i>
                                    </dd>
                                </dl>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 卖出 -->
            <div class="shade" v-show="openMai">
                <div class="shade-work">
                    <i>提示</i>
                    <p>{{maichu}}</p>
                    <div>
                        <button @click="openMai=!openMai">取消</button>
                        <button @click="closeMai">确定</button>
                    </div>
                </div>
            </div>
            <!-- 自动递延 -->
           <div class="shade" v-show="openDi">
                <div class="shade-work">
                        <i>修改止盈</i>
                    <p><i>￥</i><input type="text" v-model="surplus_value" placeholder="输入止盈价"></p>
                     <span>请输入{{nowprice}}元~{{(nowprice*1.2).toFixed(2)}}元之间金额</span>
                    <div>
                        <button @click="openDi=!openDi">取消</button>
                        <button @click="closeDi">确定</button>
                    </div>
                </div>
            </div>
            <!-- 修改止损 -->
            <div class="shade" v-show="openZhi">
                <div class="shade-work">
                        <i>修改止损</i>
                    <p><i>￥</i><input type="text" v-model="loss_value" placeholder="输入止损价"></p>
                  <span>请输入{{(nowprice*0.9).toFixed(2)}}元~{{(nowprice*1).toFixed(2)}}元之间金额</span>
                    <div>
                        <button @click="openZhi=!openZhi">取消</button>
                        <button @click="closeZhi">确定</button>
                    </div>
                </div>
            </div>
            <!-- 补仓 -->
            <div class="shade" v-show="openBu">
                <div class="shade-work">
                        <i>修改补仓</i>
                    <p><i>￥</i><input type="text" v-model="credit_add" placeholder="输入修改补仓价"></p>
                    <div>
                        <button @click="openBu=!openBu">取消</button>
                        <button @click="closeBu">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="includeDom"  data-id="2">
            {include file="index/inc/footer" /}
        </div>
        <script src="/public/static/js/main.js"></script>
     
            <script>
            $(function() {
                $(".trade-coll li").click(function(){
                    let index = $(this).index()
                    $(this).addClass("on").siblings().removeClass("on")
                    $(".trade-collspace ul").eq(index).fadeIn(0).parents(".hides").siblings(".hides").find("ul").fadeOut(0)
                })
                $(".trade-collspace .hides ul").eq(0).fadeIn(0)
                $(".shade").css("left","0")
            })
            new Vue({
            el:'#app',
            props: {
            },
            data() {
                return {
                    money:"0.00",
                    list:[],
                    openMai: false,
                    openDi:false,
                    openZhi:false,
                    openBu:false,
                    maichu:"",
                    loss_value:'',
                    history:[],
                    id:'',
                    credit_add:'',
                    para:{},
                    zsz:'',
                    fdyk:"",
                  surplus_value:"",
                  	nowprice:""
                };
            },
            
            mounted() {
                this.checkStrategy();
                this.checkStrategyHistory();
                setTimeout(function(){
                    $(".trade-collspace .hides ul").eq(0).fadeIn(0)
                    $(".trade-collspace ul>li").eq(0).addClass("on").find(".trade-hide").slideDown(200)
                },900)
            },
            methods: {
                // 看持仓中的策略
                checkStrategy(){
                    let _this = this;
                    axios.post('/api/mobile/checkStrategyContest',account)
                    .then(function (res) {
                        if(res.data.status =='1'){
                            _this.list = res.data.list;
                            let zszd=0,fdykd=0;
                            for (let index = 0; index < res.data.list.length; index++) {
                                const element = res.data.list[index];
                                zszd+=(element.buy_price)*(element.stock_number)
                                fdykd+=((element.nowprice - element.buy_price)*element.stock_number);
                            }
                            _this.zsz=zszd.toFixed(0)
                            _this.fdyk=fdykd.toFixed(2) 
                            _this.para = res.data.para
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                 // 历史策略
                 checkStrategyHistory(){
                    let _this = this;
                    axios.post('/api/mobile/checkStrategyHistoryContest',account)
                    .then(function (res) {
                        if(res.data.status =='1'){
                            _this.history = res.data.list
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                show(e){
                    $(e.currentTarget).addClass("on").find(".trade-hide").slideDown(200).parents("li").siblings("li").removeClass("on").find(".trade-hide").slideUp(200)
                },
                // 卖出
                sell(item){
                    this.maichu = "是否卖出"+item.stock_name+item.stock_code+"?";
                    this.openMai = true;
                    this.id = item.id
                },
                // 自动延期
                automac(item){
                    //this.maichu="是否自动递延"+item.stock_name+item.stock_code+"?";
                    this.openDi =true;
                    this.id = item.id;
                  this.nowprice = item.nowprice
                },
                // 修改止损
                modify(item){
                    this.openZhi =true;
                    this.id = item.id;
                  this.nowprice = item.nowprice
                },
                // 补仓
                bucang(item){
                    this.openBu =true;
                    this.id = item.id
                },
                // 卖出确定
                closeMai(){
                    let _this = this;
                    axios.post('/api/mobile/sellStrategyContest',Object.assign(account,{id:_this.id}))
                    .then(function (res) {
                        alert(res.data.msg)
                        if(res.data.status =='1'){
                            _this.openMai = false;
                           // _this.checkStrategy()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                // 自动延期 修改止盈
                closeDi(){
                    let _this = this;
                  if(this.surplus_value==''){
                        alert("请填写止盈价！")
                        return false;
                    }
                    if( parseFloat(this.nowprice) <= parseFloat(this.surplus_value) && parseFloat(this.surplus_value) <= parseFloat(this.nowprice*1.2).toFixed(2)){
                    }else{
                        alert("请输入中间金额！")
                        return false;
                    }
                    axios.post('/api/mobile/update_surplus_value',Object.assign(account,{id:_this.id,surplus_value:_this.surplus_value,trues:2}))
                    .then(function (res) {
                        alert(res.data.msg)
                        if(res.data.status =='1'){
                            _this.openDi = false;
                           // _this.checkStrategy()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                // 修改止损
                closeZhi(){
                  if(this.loss_value==''){
                        alert("请填写止损价！")
                        return false;
                    }
                    if( parseFloat(this.nowprice*0.9).toFixed(2) <= parseFloat(this.loss_value) && parseFloat(this.loss_value) <= parseFloat(this.nowprice)){
                    }else{
                        alert("请输入中间金额！")
                        return false;
                    }
                    let _this = this;
                    let obj = {account:account.account,id:_this.id,loss_value:_this.loss_value,trues:2}
                    axios.post('/api/mobile/updateLossValue',obj)
                    .then(function (res) {
                        alert(res.data.msg)
                        if(res.data.status =='1'){
                            _this.openZhi = false;
                            //_this.checkStrategy()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                // 追加信用金
                closeBu(){
                    if(this.credit_add==''){
                        alert("请填写补仓价！")
                        return false;
                    }
                    let _this = this;
                    let objs = {account:account.account,str_id:_this.id,credit_add:_this.credit_add}
                    axios.post('/api/mobile/credit_add',objs)
                    .then(function (res) {
                        alert(res.data.msg)
                        if(res.data.status =='1'){
                            _this.closeBu = false;
                            //_this.checkStrategy()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
                
            }
        })
        </script>
    </body>
</html>
