<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
         
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>我的订阅</title>
        <link href="/public/static/img/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="/public/static/css/reset.css">
        <link rel="stylesheet" href="/public/static/css/style.css">
        <link rel="stylesheet" href="/public/static/css/trade.css">
        <link rel="stylesheet" href="/public/static/awesome/css/font-awesome.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/public/static/js/vue.js"></script>
        <script src="/public/static/js/jquery-1.11.3.js"></script>
        <script src="/public/static/js/html5.js"></script>
        <script src="/public/static/js/adaptive-version2.js"></script>
        <script src="/public/static/js/jquery.easing.1.3.js"></script>
        <script src="/public/static/js/jquery.transit.js"></script>
        <script src="/public/static/js/jquery.lazyload.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="guide-top">
                <a href="javascript:history.back(-1);" class="back"><i class="fa fa-angle-left"></i></a>
                我的订阅
            </div>
            <div>
                <div v-if="list.length==0" style="padding:0 3%;font-size:0.28rem;text-align:center;margin-top:1.2rem">   
                    <div class="zanwu"></div>
                </div>
                <div v-else>    
                    <h2 class="subdy">订阅的人（{{list.length}}人）</h2>
                    <ul class="rank-list"> 
                        <li v-for="(item,index) in list" v-cloak :key="index">
                            <a :href="'/index/trade/info.html?id='+item.id+'&trues='+item.trues+'&aid='+item.aid" v-cloak>
                                <img :src="item.headurl" alt="">
                                {{item.subscribe_nick_name}}
                                <p v-cloak>总收益率 <span>{{item.profit}}</span></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="includeDom"  data-id="2">
            {include file="index/inc/footer" /}
        </div>
        <div class="loading">
            <img src="/public/static/img/logo.png" alt="" class="logo">
        </div>
        <script src="/public/static/js/main.js"></script>
        <script>
        new Vue({
            el:'#app',
            data() {
                return {
                    list:[]
                };
            },
            mounted() {
                this.mysubscribe()
            },
            methods: {
                mysubscribe(){
                    let _this =this;
                    axios.post('/api/mobile/mysubscribe',account)
                    .then(function (res) {
                        if(res.data.status=='1'){
                            _this.list =res.data.list
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            }
        })
        </script>
    </body> 
</html>