<link rel="stylesheet" href="/public/static/awesome/css/font-awesome.css">
<script src="/public/static/js/main.js"></script>
<header class="price-header">
	<a href="javascript:history.back(-1);" class="back"><i class="fa fa-angle-left"></i></a>
    <ul class="f-cb">
       <li><a href="/index/price/quotes.html">行情</a></li>
        <li><a href="/index/price/index.html">自选</a></li>
    </ul>
    <div class="price-search" onclick="window.location.href='/index/index/optional_search.html'"></div>
</header>
<script>
    var id = $('header').parent(".includeDom").data('id');
    $('header li').eq(id).addClass('hover');
    
</script>
