<link rel="stylesheet" href="/public/static/awesome/css/font-awesome.css">
<div class='por'>
    <div class="guide-top" id="infoheader">
            <a href="javascript:history.back(-1);" class="back"><i class="fa fa-angle-left"></i></a>
                <!-- <a href="javascript:history.back(-1);"></a> -->
            行情
            <div style="position: absolute;top: 0;right: 3%;">
                <div v-if="show=='2'" class="price-search" onclick="window.location.href='/index/index/optional_search.html'"></div>
                <div v-else class="price-search" onclick="window.location.href='/index/index/optional_search_trade.html'"></div>
            </div>
    </div>
</div>
<div class="loading">
  <div class="loadings">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
    <!--<img src="/public/static/img/logo.png" alt="" class="logo">-->
</div>
<script>
    jQuery(document).ready(function() {
        $('.loading').addClass("active");
    })
</script>
<script>
    function getSearchString(key) {
        let Url = window.location.search;
        var str = Url;
        str = str.substring(1, str.length);
        var arr = str.split("&");
        var obj = new Object();
        for (var i = 0; i < arr.length; i++) {
            var tmp_arr = arr[i].split("=");
            obj[decodeURIComponent(tmp_arr[0])] = decodeURIComponent(tmp_arr[1]);
        }
        return obj[key];
    }
    let ns=getSearchString("trade");
new Vue({
el:'#infoheader',
    data() {
        return {
            show:2
        };
    },
    mounted() {
        if(ns=='1'){
            this.show=1;
        }else{
            this.show=2;
        }
    },
    methods: {
    },
    
})
</script>