<link rel="stylesheet" href="/public/static/awesome/css/font-awesome.css">
<div class='por ploy-header'>
    <div class="guide-top">
        <!-- <a href="/index/price/index.html"></a> -->
        <a href="/index/price/index.html" class="back"><i class="fa fa-angle-left"></i></a>
      	{{nameList.name}} <span style="font-size: 0.3rem;">{{nameList.nowPri}}</span>      <span :class="nameList.increase < '0'  ?'green':'red'" style="font-size: 0.3rem;">{{nameList.increase}}</span>        <span :class="nameList.increPer < '0'  ?'green':'red'" style="font-size: 0.3rem;">{{nameList.increPer}}%</span>
        <div class="price-search" onclick="window.location.href='/index/index/optional_search.html'">切换</div>
    </div>
    <div class="ploy-list">
            策略
        <ul class="f-cb">
            <li><a :href="'/index/strategy/ploy.html?stock_code='+list.stock_code+'&stock_name='+list.stock_name">T+1</a></li>
            <li><a :href="'/index/strategy/ployD.html?stock_code='+list.stock_code+'&stock_name='+list.stock_name">T+D</a></li>
        </ul>
    </div>
</div>